[2021-03-02 20:26] Johannesd3 commented on #661
`NoneError` does not belong to us, it's from the standard library. `SpotifyIdError` would of course be possible, and there is certainly room for improvement in error handling.

But for now it's simpler if you use `Option::ok_or`, `Option::ok_or_else` and `Result::map_err`, or a separate error handling crate like `anyhow`.

[2021-03-04 12:41] NofanTasi opened #662 "panicked at 'attempted to zero-initialize type `vorbisfile_sys::ov_callbacks`,"
Thanks for LibreSpot !
I upgraded CoreELEC from Leia to Matrix and LibreSpot stopped working

Here is the relevant log:

[code]

[2021-03-04 13:55] roderickvd commented on #662
This is not an issue of librespot, but of vorbis-rs upstream that triggers on newer Rust compilers: tomaka/vorbis-rs#19.

[2021-03-04 14:23] NofanTasi commented on #662
thanks for pinpointing issue

[2021-03-04 14:23] #662 closed

[2021-03-04 19:51] Stateford commented on #661
Yea, so the NoneError makes sense, however it would be a good idea to add it to SpotifyIdError. I'll look at how hard it would be to add.

[2021-03-06 07:01] strafe commented on #317
@willstott101 spotifyd finally bumped librespot to `0.1.5` and cut a new release a couple days ago. Sadly Rodio still crackles on most songs. It's really unfortunate since it makes any combination of spotify-tui and spotifyd pretty much unusable on macOS.

[2021-03-08 22:05] Johannesd3 commented on #653
They did update hyper-proxy, so we can make progress here.

BTW, while re-implementing proxy support I did not really care for the format of addresses (e.g. whether port or protocol are specified), I think the behaviour could differ compared to before. We should check this.

[2021-03-12 23:04] roderickvd commented on #472
I cannot reproduce this on my setup. One is a RPi 3B+ with Alsa backend feeding into an external DAC over I2S, the other Rodio on macOS. What does your setup look like?

[2021-03-12 23:07] roderickvd commented on #532
Also make sure you've compiled with `--release`.

[2021-03-12 23:11] roderickvd commented on #343
Please give my work at #660 a go. In the current `dev` branch there are two conversions going on, assuming you're using the `lewton` decoder. First `lewton` converts from `f32` to `i16`, then `jackaudio` back from `i16` to `f32` again. My branch keeps everything in `f32` without the back-and-forth conversions.

[2021-03-12 23:11] lumaxis commented on #532
I have since moved from a Raspberry Pi Zero W to a 4 (for other reasons), where I have not seen this anymore. I'm fine to close this as long as nobody else still has an interest to track this issue.

[2021-03-12 23:20] v1ne commented on #472
I'm using a Raspberry Pi 3B Rev. 1.2 with a HiFiBerry Digi (rewired to work on RPi 3). That is connected via an optical cable to my Nubert NuPro X-4000 speakers.
At this point, I used the ALSA backend. But because of other issues (stream stopping/starting without a grace period in between songs, leading to other discontinuities, if I remember correctly), I had to switch to the PulseAudio backend.

[2021-03-19 20:05] xou816 commented on #650
Never done that so I can't promise I can help, but I might give it a try, it sounds interesting! Is there a place where you (and others) will be uploading your findings?

[2021-03-20 10:00] Johannesd3 opened #676 "Librespot device does not disappear when exiting"
The official Spotify clients disappear immediately from the list of available devices in other Spotify clients when they are exitted. Librespot does not disappear.

First I thought it has something to do with the `kMessageTypeGoodbye` that is sent on shutdown. It doesn't seem to reach another Librespot instance (with log level debug so I can see the incoming messages). But only the web player's go

[2021-03-20 10:28] Johannesd3 opened #677 "Memory Leak?"
When running Librespot (release mode) and skipping through playlists, the used memory increases slowly but steady. It starts with 2-3MB, but after a while I was able to reach 8MB.

It seems to happen in both the `dev` and the `tokio_migration` branch.

[2021-03-20 13:09] kingosticks commented on #677
8MB sounds like approx. two 'normal' length tracks worth of compressed audio data. Could this be the track prefetching working correctly?

[2021-03-20 13:25] Johannesd3 commented on #677
I just stopped at 8MB, probably it's possible to reach more. Every time I skip a track, memory usage grows by something between nothing and 0.5MB.

[2021-03-20 13:28] kingosticks commented on #677
Maybe share your cache settings and which backend also.

[2021-03-20 13:43] Johannesd3 commented on #677
I'm using rodio-backend under Windows, no cache enabled.

I tried different configurations out, and it's possible (but I'm not really sure) this is an issue of lewton. With tremor it doesn't exceed 3MB permanently.

[2021-03-20 14:11] Johannesd3 commented on #677
Actually I think it's only an issue in `dev` and I just imagined the same thing happens in `tokio_migration` when the numbers rose a little. And in `dev` it happens with both `lewton` and `tremor`. So wherever the problem lies, it will probably be fixed by #665.

[2021-03-20 18:39] roderickvd commented on #662
Fix in PR tomaka/vorbis-rs#20.

[2021-03-21 12:43] Johannesd3 commented on #317
If I understand everything correctly, there are to problems:

The first is our rodio backend. Currently, it allocates a new buffer every time a new packet arrives. This could become faster using a spsc queue/ring buffer.

But cpal and alsa don't really fit: Cpal is callback-based while alsa uses an internal ring buffer. Therefore, cpal spawns an extra thread just to copy the data from our buffer t

[2021-03-21 13:21] roderickvd commented on #317
Oh yes. Still hunting down why Rodio on Alsa is broken in so many cases. While I appreciate the "black-box" approach of librespot sinking into a "one size fits all" backend, it's just not there yet.

[2021-03-21 17:44] MW-SAND opened #678 "Error: could not compile protobuf"
I'm using Ubuntu 20.04 and I'm unable to compile librespot with the following command: sudo cargo build --release. If you need any more info please let me know.

error: could not compile `protobuf`.

Caused by:
  process didn't exit successfully: `rustc --crate-name protobuf /root/.cargo/registry/src/github.com-1ecc6299db9ec823/protobuf-2.14.0/src/lib.rs --error-format=json --json=diagnostic-rende

[2021-03-21 17:51] Johannesd3 commented on #678
Works fine for me. Did you try it several times or just once? You're log has a strange formatting, but it seems as if it was simply killed.

[2021-03-21 22:05] roderickvd commented on #676
Maybe the official clients keep a particular port alive to a Spotify server, that librespot doesn't?

[2021-03-23 18:36] Johannesd3 commented on #676
I believe you understood it the other way round. But the librespot device does _not_ disappear although it should.

[2021-03-23 18:51] Johannesd3 commented on #651
I don't think it's the same problem. In this case, ogg is still in the list of available formats but librespot is not able to play the downloaded files. Maybe they're really corrupted and the spotify clients are able to use another format as fallback, but could be another reason as well.

[2021-03-23 18:51] roderickvd commented on #676
No I do mean what I said. Perhaps there’s no messaging mechanism but just an established keep-alive connection by which the official clients signal they are available. And on shutdown when they close the connection, that’s their offline signal. Just theorizing here.

[2021-03-23 19:41] Johannesd3 commented on #676
Ah ok. Seems odd to use an extra connection to signal shutdown, but maybe it's related to the new api.

@devgianlu Does the same issue exist for librespot-java?

[2021-03-23 19:50] devgianlu commented on #676
The new API doesn't seem to have a command to signal shutdown. All it has is [these](https://github.com/librespot-org/librespot-java/blob/103fabcddc1845a894003b19ae77e983cfc68972/lib/src/main/proto/connect.proto#L129-L138), but I am not having any issue with it not disappearing. I suppose they are detecting the websocket connection closing.

[2021-03-23 20:28] roderickvd commented on #676
Here's a quick and abbreviated comparison of `lsof -i`.

Official Spotify client on macOS, controlling librespot on another host:

[code]

And on the librespot host it is controlling:

[code]

Where `xxx.xxx.xxx.xxx` is the macOS host, `yyy.yyy.yyy.yyy` some other Spotify Connect-capable host, and `zzz.zzz.zzz.zzz` the host running librespot.

[2021-03-23 20:50] MW-SAND commented on #678
I have tried it several times over the past few weeks.

Thank you for your suggestion. I only have 1 GB ram, however, the library has been compiled a couple of months ago. I tried disabling the overcommit of OOM, but this results in multiple errors, I couldn't even get to the library folder.

[2021-03-24 12:31] kingosticks commented on #676
I've noticed two things while controlling with my Android client and stopping the librespot process:
1. librespot remains shown as the active playing device for a while.
2. librespot lingers in the in the "select a device" list for a while.

I think it's just the second issue you are discussing here, correct? Doesn't this sound like an mDNS problem? I've found my build using `--feature with-dns-sd

[2021-03-24 13:48] kingosticks commented on #676
Just to add, I did the Wireshark trace and I see when stopping librespot with dns-sd there is a [goodbye message](https://tools.ietf.org/html/rfc6762#section-10.1) sent but not when using libmdns. libmdns seems to [create a the goodbye message](https://github.com/librespot-org/libmdns/blob/acd405604d2fb589e9848d1292ce9404bd206d91/src/lib.rs#L195) but it doesn't get sent. [This](https://github.com/

[2021-03-25 16:38] MW-SAND commented on #678
Compiling librespot-metadata v0.1.6 (/home/ubuntu/Wekker/librespot/metadata)
error: could not compile `librespot-protocol`.

Caused by:
  process didn't exit successfully: `rustc --crate-name librespot_protocol --edi                                                                                             tion=2018 protocol/src/lib.rs --error-format=json --json=diagnostic-rendered-ans

[2021-03-25 17:54] Johannesd3 commented on #678
I really think it's a RAM issue.
 1. You said yourself that you don't have much RAM.
2. The error does not occur deterministically.
3. The rust process is killed with SIGKILL and that's exactly what a OOM killer would do.
4. protobuf and librespot-protocol belong to the more resource-intensive crates while compiling, so it makes sense that it aborts there.

You could try to google for tricks to co

[2021-03-25 18:06] roderickvd commented on #678
1GB is enough to compile even with all features. Surely this is not a librespot bug.

[2021-03-26 01:23] sashahilton00 commented on #678
I believe I have encountered this before when I used to use a RPi 2 as a connect receiver. I'd suggest either cross compiling or a swap file of 2G or so, though this won't be great for the SD card if that's what you're running it off. Anyway, closing as this isn't a librespot bug from what I can tell.

[2021-03-26 01:23] #678 closed

[2021-03-26 06:59] heitbaum opened #681 "Librespot: thread '' panicked at 'attempted to zero-initialize type vorbisfile_sys::ov_callbacks, which is invalid'"
With LE10 - librespot was failing due to an error in vorbis-rs

https://github.com/LibreELEC/LibreELEC.tv/issues/5038

the fix was identified in https://github.com/tomaka/vorbis-rs/issues/19 and https://github.com/RustAudio/lewton/issues/89

we are adding a patch to LE10 to have librespot working via PR https://github.com/LibreELEC/LibreELEC.tv/pull/5166 and specifically the following patch to the

[2021-03-27 06:23] philippe44 commented on #655
It would require a more extensive rewrite of the headers which purposely very minimal at that moment. I can look into that later once the updated passthrough option has been adopted and feedback is good.

[2021-04-10 07:36] #656 closed

[2021-04-10 07:36] #653 closed

[2021-04-11 00:56] Johannesd3 opened #688 "Create C bindings"
@d4rwel inspired me to write down some thoughts I had about creating C bindings for librespot. There's no need to change anything in librespot itself, it could happen in its own crate/repo. However, I assume that #665 is ready, but this could be accomplished with git dependencies.

So here's a rough plan:

Create a rust library crate and add the following to the `Cargo.toml`:

[code]

Pick some im

[2021-04-11 00:59] #688 closed

[2021-04-11 12:47] coderootme opened #690 "All messages are sent to stdout, even errors, which should be in stderr."
Librespot echoes everything into `stdout`. This could be improved by properly echoing all `INFO` messages to stdout and all `WARN` and `ERROR` messages to stderr.

Currently, when I start librespot with:
[code]
I would expect all info messages redirected to `/dev/null`, but still see any possible warnings or errors. However, this is not the case.

This also breaks when using `systemd` and specifyi

[2021-04-12 16:08] Johannesd3 commented on #690
First of all: AFAIK all log messages are printed to `stderr`, not `stdout`. Which of us is wrong?

I do not agree: `stderr` is in a way a misleading name, because it is thought for all kind of status messages. E.g. curl will print the download progress to `stderr` (if `stdout` is redirected). Or `bash` will show the `$ ` on `stderr`.

`stdout` is often used for that kind of output that is the purp

[2021-04-12 16:51] roderickvd commented on #690
I stand corrected, you are right and was mistaken with logging levels. Which should work fine.

@coderootme you should use `2>/dev/null` syntax.

[2021-04-12 18:55] coderootme commented on #690
Yes, guys, I am sorry. Everything goes to stderr. My point still stands, however, but it seems like you don't agree with that idea, so I will close it here.

[2021-04-12 18:55] #690 closed

[2021-04-13 01:06] #596 closed

[2021-04-13 01:06] #368 closed

[2021-04-13 01:06] #677 closed

[2021-04-14 19:28] coderootme opened #695 "There should be a "none" option for "--mixer" switch."
When using librespot with a DAC which has no volume control, ``--mixer alsa`` does not work. Also, some people prefer to set their volume only the amplifier to achieve the highest transparency possible and not allow the player to change the volume whatsoever.

For example, mpd allows this by setting in ``/etc/mpd.conf``:

[code]

Librespot should allow something similar too, i.e. adding another op

[2021-04-14 19:33] ashthespy commented on #695
There should be a `fixed` option for `--volume-ctrl` does that not work for you?

[2021-04-14 20:30] coderootme commented on #695
That is quite a good idea. It should be a valid workaround, but the solution still could be cleaner.

[2021-04-14 21:10] roderickvd commented on #695
I think @ashthespy means to say: `--volume-ctrl fixed` is already there. Combined with `--initial-volume 100 --mixer softvol` this leaves samples untouched. Yes it'd be easy to map this to `--mixer none`. Good opportunity to learn some Rust? 😉

[2021-04-14 21:23] ashthespy commented on #695
The `--mixer ` flag is ALSA specific, while the `volume-ctrl` is one level higher. It is how the volume command from Spotify is handled.

You could add add a case to map a "none"  mixer, but I personally feel it's moot..

[2021-04-14 21:38] roderickvd commented on #695
Current behaviour:

[code]

If no mixer is specified, it defaults to `softvol`.

[2021-04-14 21:49] ashthespy commented on #695
Oops, you are right!

So `--volume-ctrl fixed --initial-volume 100` should result in no steam alteration.

I agree this isn't as succinct as `--mixer none` but don't think it it's worth adding!
If someone has strong feelings, feel free to add a PR.. ;-)

[2021-04-14 23:24] kingosticks commented on #695
The wiki could probably do with some love there, the wording "fixed volume scaling" is not very clear:
Option |   | volume-ctrl | [linear, log, fixed] Choose between a logarithmic  (default), linear, or fixed volume scaling.
-- | -- | -- | --

Something like:

maybe?

[2021-04-15 05:30] coderootme commented on #695
That would kinda help, but it would still be unclear that ``--volume-ctrl fixed --initial-volume 100`` should "result in no steam alteration", as claimed by @ashthespy. That fact should be stated also. Hardcore audiophiles don't like software volume control, no matter how "good" it is, and having a "fixed volume control set at 100%" still feels worse than having "no volume control", but if that fa

[2021-04-15 05:39] coderootme opened #697 "Autoplay problem: mostly it either logs an error, or crashes librespot completely."
Here is a log from a build I made two days ago with the very latest commit in the ``dev``:

[code]

Sometimes autoplay works, for example:

[code]

That is fine.

Mostly, however, this happens:

[code]

I understand that if no ``autoplay_uri`` is found, a warning should be issued, as is, but shouldn't the error after that be handled in the code in a better way, so that it does not error out when n

[2021-04-15 06:15] Johannesd3 commented on #697
I can't reproduce this issue. Would you please provide an example how you make this happen?

Also, please try it on 8fe2e01166657c7888eb14e5dc7b755be8a9022f, so we can decide whether the tokio migration is at fault.

[2021-04-15 06:22] coderootme commented on #697
I will try to reproduce it. The panic does not happen often. Here may be some more data/info for now:

[code]

[2021-04-15 06:23] Johannesd3 commented on #695
You can see [here](https://github.com/librespot-org/librespot/blob/4fc3accc78768bdc995b4151439d368692704d68/playback/src/player.rs#L1158-L1280) and [here](https://github.com/librespot-org/librespot/blob/4fc3accc78768bdc995b4151439d368692704d68/playback/src/mixer/softmixer.rs#L38-L46) what happens to the PCM.

[2021-04-15 20:14] coderootme commented on #697
OK, I know how to reproduce it!

1. Start any official spotify client
2. Go to any playlist that you are the owner of. Scroll down to "Recommended Songs Based on the songs in this playlist"
3. Play any of those songs.

Now librespot crashes completely!

[2021-04-15 20:41] Johannesd3 commented on #697
I just get:
[code]
as you describe above.

But it plays the song, no panic, no crash.

[2021-04-15 20:56] Johannesd3 commented on #697
The panic message above is actually two panic messages interleaved:
[code]

[2021-04-19 10:02] Emgalai commented on #532
I installed Librespot service addon on top of LibreELEC 9.2.6 on Raspberry 1 B+ and the audio is so stuttery it is completely unusable. It is not just occassional stuttering, it is constant stuttering. I don't know how to test the options suggested by JasonLG1979 on LibreELEC (I was able to set the niceness level, but not the rest).

I have IQaudio DAC+ on the Pi. The audio stutters the same if I

[2021-04-19 12:14] Johannesd3 commented on #654
Is it solved by #664?

[2021-04-19 12:16] peet1993 commented on #654
It is, I'll close the issue :) Thanks again!

[2021-04-19 12:16] #654 closed

[2021-04-19 13:02] Johannesd3 commented on #681
Seems as if vorbis-rs isn't maintained anymore by @tomaka. Should librespot create its own fork? Maybe we can share some code with [librespot-tremor](https://github.com/librespot-org/librespot-tremor), as it is essentially the same.

[2021-04-19 13:33] roderickvd commented on #681
While forking seems a fine idea if we want to keep `libvorbis` support around, is that indeed what we want to do? What does it add over `lewton`, that's fast enough even on a RPi Zero? Even for `tremor` I'm not sure which hardware without hard float support is actually a target for `librespot`.

[2021-04-19 17:48] JasonLG1979 commented on #532
@Emgalai

A Raspberry Pi 1 B+ is basically the same thing as a Pi Zero. Do you actually use the UI bits and if so is Kodi even usable on a Pi 1? Audio is kinda heavy. For the most part any sort of upsampling is a no go on a Pi 1/Zero if you plan on doing absolutely anything else on it. If I had to guess kodi is doing some resampling. Running librespot via the command line is probably bypassing tha

[2021-04-20 11:19] Emgalai commented on #532
I have used Kodi on RPi 1 B+ since it was released in 2014 and most of my video files work without any problems. For music I have used mpd on the same RPi, without any problems. I have even run some surround audio files through mpd and remixed them to stereo without any problems (My mpd setup has the audio output set to have two channels). Maybe having the IQaudio DAC on the RPi is helping for tha

[2021-04-20 14:09] guusw opened #701 "Can't select multiple tracks in queue"
Holding shift on the queue screen allows you to select multiple items. When streaming to librespot this functionality stops working. ( [video](https://d.tdrz.nl/FGovWnR6.webm) )

I still have an older version of the desktop client on my Linux machine where it works fine so I suspect something changed after the new UI update that broke this.

I recently posted an issue to the Spotify community thin

[2021-04-20 22:30] JasonLG1979 commented on #532
@Emgalai I don't mean down mixing I mean resampling specifically upsampling. Like converting from 44.1 kHz to 48 kHz on the fly during playback.

[2021-04-21 10:33] coderootme opened #702 "Strange inconsistency in song names in INFO log."
This is a very low priority bug, but a strange occurrence nonetheless which should probably be looked at either way.

See this `librespot` output:

EDIT: Another one:

EDIT: Another even, even stranger:

How/why did this inconsistency happen and may it cause any other unexpected problems somewhere in the code?

[2021-04-21 12:04] tgy opened #703 "Adjust Playback Speed (to listen to Podcasts at higher speed)"
Thanks for developing librespot! It is awesome

I'm using ncspot as a lightweight interface with Spotify, from the command line.

I was looking for a way to increase the playback speed when listening to podcasts, stumbling upon this issue: https://github.com/hrkfdn/ncspot/issues/248

It seems that librespot does not currently provide an API for adjusting the playback speed.

Is this feasible?

[2021-04-21 12:15] Johannesd3 commented on #702
Remove this lines:

https://github.com/librespot-org/librespot/blob/4925adb4f103cea20f38eee1db9f09b0d3e07e75/playback/src/player.rs#L675-L681

and look what happens.

[2021-04-21 22:00] benwaffle opened #704 "Run on startup in background on macOS"

[2021-04-22 06:13] Emgalai commented on #532
I tried limiting sample rate of Kodi to 44.1 kHz, in case the Kodi addon uses the Kodi settings, but it did help. How could I know if resampling is done or not?

[2021-04-22 07:35] coderootme commented on #703
I think this is a very good request, especially considered the official Spotify client supports this feature for podcasts.

[2021-04-22 09:27] ashthespy commented on #703
Do other Connect implementations support the playback speed option? Or is only the official Desktop/Mobile clients that have it?

[2021-04-22 09:28] #704 closed

[2021-04-22 09:30] ashthespy commented on #704
Not sure what exactly librespot should do, but a quick search should show you how to run a script on startup on macOS? Or is there something more involved required?

[2021-04-22 12:40] Johannesd3 commented on #703
If I play a podcast on my connect receiver, the speed button is greyed out, but maybe it's supported on newer ones?

But since this request is about ncspot, it has originally nothing to do with connect. We need to expose a method/command for the `Player` to control speed.

[2021-04-22 12:42] tgy commented on #703
Thanks for responding so positively and quickly to this feature request!  :heart_decoration:

[2021-04-22 13:48] ashthespy commented on #703
Yep that was how I recall it as well - it's a Player (client) specific feature.

Not sure if we want to go down that rabbit hole? The playback speed implementation might not be to hard to add,  but it is a completely new API surface - all current API is done only via `spirc` (connect). For better or for worse,  there aren't any local playback APIs exposed currently, as librespot's main focus has p

[2021-04-22 18:26] JasonLG1979 commented on #532
`period_size:` and `buffer_size:` are also relevant to make sure the buffer is large enough for smooth playback.

[2021-04-22 18:30] JasonLG1979 commented on #532
Drop outs are generally the result of of the CPU not being able to keep up. Either because the buffer is to small or because it can't handle whatever processing is being done to the audio, or a combination of both.

[2021-04-22 18:48] codetheweb opened #706 "Feature flag for no backend"
This may seem like a bit of an odd request, but would it be possible to add a feature flag for no backend? My use case is that I'm piping the output from librespot somewhere else and don't need alsa / Pulse / whatever.

[2021-04-22 18:54] ashthespy commented on #706
So backend `pipe`?

[2021-04-22 19:23] shanemeagher commented on #706
Would compiling with  `--no-default-features` do?
https://github.com/librespot-org/librespot/wiki/Compiling#optional-features

[2021-04-22 19:58] codetheweb commented on #706
Thank you, that does the trick.
Like I said, still new to the ecosystem. :)

[2021-04-22 19:58] #706 closed

[2021-04-22 20:42] ashthespy commented on #706
Doh. I knew i was forgetting something. Sorry for the noise!

[2021-04-22 21:32] snadorp opened #707 "Exception when using `~` in cache path"
librespot is throwing an exception when initializing with a `~` sign in the path.

cache_path = "~/.cache/spotify"

[code]

[2021-04-23 07:44] Johannesd3 commented on #707
Using `~` in the path works for me. It's probable another problem: Does the directory `~/.cache` already exist? Librespot 0.1.5 is not able to create multiple dirs in a row for the cache dir, but this is fixed on the `dev` branch.

[2021-04-26 19:01] coderootme commented on #462
This is the same as #697

[2021-04-29 22:06] thexperiments commented on #333
Necro tip. I got it working with my DAC which has show the same errors by using ``--device "plughw:2,0"`` instead of ``--device "hw:2,0"``. As I understand it this way the alsa plugins are involved and can convert if necessary, for my dac it seems that it only supported a bit depth of 32 bit. (Topping DX3 Pro)

[2021-04-29 23:16] Johannesd3 commented on #462
Let's close it in favor of #697, where it has already been discussed a little.

[2021-04-29 23:16] #462 closed

[2021-04-30 17:18] roderickvd commented on #333
That's a good solution. Also in the upcoming `librespot` release there's native support for 32-bit output, so you could try that and have better sound quality to boot. It's in `dev` right now if you want to give it a spin.

[2021-05-01 01:03] sashahilton00 commented on #703
I've marked this as `wontfix` for now. As mentioned above, this is a client specific feature. If someone wants to do some reverse engineering around this to see if it can be controlled via spirc, then feel free. It would require some sort of command passthrough nonetheless though, or perhaps a playback speed event, since we are looking to move away from librespot handling the client side playback

[2021-05-01 01:03] #703 closed

[2021-05-01 01:04] sashahilton00 commented on #702
As @Johannesd3 points out, this is expected behaviour, it's simply the alternative track name.

[2021-05-01 01:04] #702 closed

[2021-05-01 11:34] Johannesd3 commented on #707
Please reopen if my explanation is wrong.

[2021-05-01 11:34] #707 closed

[2021-05-04 11:42] Johannesd3 commented on #460
Seems it was fixed by e97911e3cfcb85b524e844d0ef5417bbee1e4970 8 months ago. We could remove the version restriction again.

[2021-05-08 21:56] Johannesd3 opened #723 "Replace deprecated protobuf function"
After #714 we're getting warnings like this one:
[code]

It shouldn't be hard to fix these warnings by following the instructions.

[2021-05-08 23:51] sashahilton00 commented on #650
Ok, so what I'm going to do is dedicate a comment to each endpoint that I reverse. I'll attach screenshots of the decoded protobufs (request/response), and reference the endpoint, along with the proto definitions.

The proto files I'm using I extracted earlier, available [here](https://github.com/librespot-org/librespot/files/6446732/spotify_protos.zip).

The proto descriptor is useful for anyone

[2021-05-08 23:57] sashahilton00 commented on #650
# Extended Metadata Endpoint (Protobuf)

Endpoint: `https://spclient.wg.spotify.com/extended-metadata/v0/extended-metadata`

Proto definitions (refer to `extended_metadata.proto`):

- Request: `spotify.extendedmetadata.BatchedEntityRequest`. It may also accept `spotify.extendedmetadata.EntityRequest`, but untested.
- Response: `spotify.extendedmetadata.BatchedExtensionResponse`.

## Decoded Reques

[2021-05-09 01:13] sashahilton00 commented on #650
# Connect State Endpoint

Endpoint: `https://spclient.wg.spotify.com/connect-state/v1/devices/2e8...202`

Proto definitions (`connect.proto`):

- Request: This requires further investigation. The content that is sent appears to be either compressed, encrypted or obfuscated, unless I am missing something obvious. It doesn't have anything that stands out as a proto message.
- Response: The response

[2021-05-10 06:12] MrksHfmn opened #727 "Release precompiled binaries"
It would be great if besides the source code also precompiled binaries for the most common processors would be provided.

[2021-05-10 07:32] ashthespy commented on #727
There are already a few distros picking this up and [packing it](https://github.com/librespot-org/librespot#packages) may be you are lucky? :-)

[2021-05-10 08:42] Johannesd3 commented on #727
Maybe we could do something similar to this: https://github.com/BurntSushi/ripgrep/blob/master/.github/workflows/release.yml

[2021-05-10 08:55] ashthespy commented on #727
My 0.2c -- we should make the switch to leaving this repo as the library, and have [`librespotd`](https://github.com/librespot-org/librespotd) become the current `librespot` binary.

[2021-05-10 09:07] Johannesd3 commented on #727
If it would be that easy. https://github.com/librespot-org/librespot/discussions/648#discussioncomment-532108

[2021-05-11 14:36] sashahilton00 commented on #650
@roderickvd that's a good question. From the issue emails I've been getting from librespot-java, it looks like @devgianlu and co. have put quite a bit of work into reverse engineering chunks of the new API, hence in some cases the stuff I post here has likely been reverse engineered in part or fully over at  librespot-java. @devgianlu would be best placed to answer the question of what has been re

[2021-05-11 14:38] sashahilton00 commented on #650
Looking back, the above is a bit of a roaming response, but hopefully it provides some clarification on why I'm spending the time to examine the latest protocols and the overall direction that I'm working to as a basis.

[2021-05-11 17:38] devgianlu commented on #650
@sashahilton00 Should this become a discussion? I feel like I could comment on stuff, but it'll end up being an awful long thread.

[2021-05-11 17:41] #650 closed

[2021-05-13 09:12] aanno opened #742 "Discovery not disabled when credentials are specified"
(Cross post from https://github.com/Spotifyd/spotifyd/issues/948 as spotifyd uses librespot)

We've got a (paid) spotify family account and I have set up spotifyd with my user. However with this, my son could not 'respot' to spotifyd (but he could see the device in his official spotify android app). Is this the expected behaviour? Is there a way around?

BTW, there a 'dump' devices like speakers t

[2021-05-13 16:56] vx3r opened #743 "pipe backend to dlna renderer"
Hello,

Does someone use librespot to stream to a dlna upnp renderer ? I managed to use [pulseaudio-dlna](https://github.com/masmu/pulseaudio-dlna) but this is not optimal at all.
I would like to use pipe backend to send directly to my integrated DAC dlna renderer.

Thank you

[2021-05-13 17:41] #743 closed

[2021-05-13 19:26] rbuch opened #745 "Distorted audio when using dynamic normalisation"
Audio sounds highly distorted and seems to be clipping when using the current default dynamic normalisation added in https://github.com/librespot-org/librespot/pull/660. Changing back to using basic normalisation or disabling normalisation altogether fixes the issue.

(Discovered via `ncspot`, the corresponding issue there is: https://github.com/hrkfdn/ncspot/issues/522.)

[2021-05-13 19:58] roderickvd commented on #745
Could you please provide the following information:

 1. Complete debug logs;
 2. Whether the issue also occurs on vanilla `librespot`, all else being equal (same pregain, attack, threshold, knee, and so on);
 3. As above, but now also using `--backend alsa` or `--backend rodio` instead of PulseAudio or PipeWire.

Finally, please explain what its meant by "even when in-app volume is set to 0%" in

[2021-05-13 20:42] #723 closed

[2021-05-13 20:48] Johannesd3 commented on #745
And if you use PipeWire, which backend? IIRC ALSA, Jack, GStreamer, Pulseaudio, or Rodio would be possible.

[2021-05-13 23:27] rbuch commented on #745
I did a bit of digging, I couldn't get this to reproduce in vanilla `librespot` with any backend or options. Comparing debug output between `librespot` and `ncspot` uncovered the issue, the `normalisation_threshold` in `ncspot` is incorrect.

`ncspot` initializes `librespot_playback::config::PlayerConfig` with the following code:

[code]

Thus, it uses the default value for `normalisation_threshol

[2021-05-13 23:44] Johannesd3 commented on #745
Why can't ncspot use NormalisationData::db_to_ratio themselves?

[2021-05-14 00:38] rbuch commented on #745
It can, of course, but it feels like a leaky abstraction for an external application to have to pull a default value out, transform it, and then explicitly pass it back in when it just wants it to be default initialized.

[2021-05-14 08:46] roderickvd commented on #745
I agree @rbuch the default should just make sense. This was an oversight on my end. I'll update it later this weekend.

[2021-05-14 08:47] roderickvd commented on #745
Thanks for digging around 😅 I was getting worried.

[2021-05-14 17:04] JasonLG1979 commented on #742
From what I understand if you provide librespot with credentials you are effectively locking it to that account. I guessing even though he's under the same family account he still has a different username at least? The fact that discovery isn't turned off when credentials are provided is the real bug here.

You shouldn't have to provide credentials at all and it should work in discovery mode. Have

[2021-05-14 17:21] JasonLG1979 commented on #727
My opinion if it's worth anything is that it's not up to you guys to build binaries/packages for several different architectures/OS's/Distros. That's a whole job in and of itself. That's what packagers are for. That's their job. It's a waste of your time that could be spent doing literally anything else more useful.

[2021-05-15 12:23] kingosticks commented on #727
I disagree. While setting up/debugging github workflows is a bit of a faff, once done it's invaluable. And we already have much of the flows in place. Even if it's just binaries rather than packages, it immediately opens up the very latest code for more people to try. It's particularly valuable since librespot has so few tests, being able to have binaries automatically available for every commit w

[2021-05-15 13:21] JasonLG1979 commented on #727
Most people do not use librespot directly as-is, they use it as a lib, as is the case with spotifyd or as some sort of service. It makes a lot more sense for those projects to provide binaries/packages.

Up until recently librespot hasn't been a very active project and it currently has very few devs. Like I said packaging and packaging related bugs is a whole job itself. In a perfect world sure th

[2021-05-15 14:07] michaelherger commented on #727
There are people who can help with the code, and there are people who have other strengths. I considered creating a Github action for my fork of librespot to automatically build binaries for various Linux flavors. If I submitted a PR then this certainly would not be a wast of resource which could have been spent on the code. Because I can't really help with Rust 😁.

[2021-05-15 15:19] JasonLG1979 commented on #727
The actual building of binaries is not hard. I'm talking about supporting those binaries. That's the thing that takes up time. You would also need to commit to supporting the builds.

[2021-05-15 15:38] JasonLG1979 commented on #727
I changed the wiki to say:

Choose between a logarithmic (default), linear, or fixed (no volume control) volume scaling.

[2021-05-15 15:39] JasonLG1979 commented on #695
I changed the wiki to read:

Choose between a logarithmic (default), linear, or fixed (no volume control) volume scaling.

[2021-05-15 15:43] JasonLG1979 commented on #695
With all these options it might not be a bad idea to have a wiki page showing the proper args for a few basic use cases.

[2021-05-15 15:57] Johannesd3 commented on #727
Especially with Rust, it's not that difficult. Please consider that on every PR or push a complete build of the application on multiple platforms is created, and it would just be necessary to safe the artifacts.

[2021-05-15 16:21] JasonLG1979 commented on #727
My concern is that it would end up like the current situation with all of the backends. You'd end up with a bunch of drive-by PR's for architectures that are never really tested or supported properly. IMHO it's better for binaries to be released by downstream projects. If/when they run into non-architecture specific issues they can push the bugs back upstream. To me it's kinda an extension of the

[2021-05-15 16:21] kingosticks commented on #727
We already end up providing support for these packaged versions, annoying as that is. The only difference with this idea is that we control (and better understand) the environment they are run under. Or we simply provide them with zero support, which is perfectly valid.

When I looked the other week there was an `upload-artefact` (or something) github flow command that looked like it could be adde

[2021-05-15 16:26] JasonLG1979 commented on #727
You can specifically say in bold print that you don't support the binaries you release but that will not stop people from demanding support. Even in that case prepare for a huge up-tick in noise.

[2021-05-15 16:38] JasonLG1979 commented on #727
Do you release it naked not wrapped in a service? does the user have to specifically provide all the args and call it themselves or do you provide a config file with your own defaults?

[2021-05-15 16:38] kingosticks commented on #727
Just close them. Lock them and ignore them. If we need a issue template that makes that clearer then can do that also.

[2021-05-15 16:42] JasonLG1979 commented on #727
Still noise.

[2021-05-15 16:44] JasonLG1979 commented on #727
It's really neither here not there for me. I won't be spammed. You guys can do what you like.

[2021-05-16 20:34] roderickvd commented on #745
@rbuch could you please verify #749 and report back there?

[2021-05-16 21:46] rbuch commented on #745
Building `ncspot` with #749 does indeed fix the default value issue and it all sounds like it should. Thanks for the quick fix!

[2021-05-17 18:00] MrksHfmn commented on #727
as a user i compile librespot myself and then run the binary on my home server. i connect it to the hd intel device (via --device) of the mainboard, then the audio system is attached to it. i don't use services like spotifyd or similar. pure librespot ... for compiling i have a debian vm incl. rust build system ... i think the vm is about 5 GB. after that i have a 13 MB binary

[2021-05-17 18:38] Johannesd3 commented on #727
PoC:
https://github.com/Johannesd3/librespot/actions/runs/850777993
https://github.com/Johannesd3/librespot/releases/tag/test-v0.0.1

[2021-05-17 19:18] roderickvd commented on #727
Cool. Also know that moOde uses vanilla `librespot` and no `spotifyd`.

I'm going to submit a PR to remove support for `libvorbis` and `tremor`. That might make this a bit easier. Certainly if we'd then just compile in the "default" backends.

We'll have to do some thinking what's "default" for Linux -- just Rodio or also Alsa? And if we say yes to Alsa, then why not PulseAudio or GStreamer?

Here

[2021-05-17 20:22] JasonLG1979 commented on #727
Not to mention that both pulseaudio and pipewire both have ALSA compatibility plugins so that ALSA apps generally just work. I have 2 computers 1 running Fedora 34 with pipewire and 1 running Mint with pulseaudio. librespot compiled with just the ALSA backend works just fine on both.

[2021-05-17 20:37] JasonLG1979 commented on #727
Configuring `librespot` to the highest format your DAC will support and directly addressing your DAC bypassing `dmix` is always going to provide the most direct audio path and therefore the best sound quality. There's no reason to go though dmix in a purpose built audio distro other than the convenience of software mixing so you don't have to be 100% sure one service isn't trying to make noise bef

[2021-05-18 03:40] #745 closed

[2021-05-18 06:35] roderickvd commented on #681
@heitbaum removing support for `libvorbis` and `tremor` is under serious consideration. As far as I know, `LibreELEC` is the only thing downstream that compiles with `--features with-vorbis`. Any arguments against moving to `lewton` 100%?

I just checked and compiling `with-vorbis` only saves 167 kB. Likewise the slight boost in performance will be neglible. At the same time, the bindings are unma

[2021-05-18 18:47] herrernst commented on #727
Are you sure? Because I also use librespot as-is, the binary does everything I need (and I always have the latest features). With the simple provided [systemd unit](https://github.com/librespot-org/librespot/blob/dev/contrib/librespot.service) it autostarts on boot and restarts on crashes and logs to journalctl. `cargo deb` even builds a nice debian package with the systemd unit (probably should b

[2021-05-18 18:55] Johannesd3 commented on #727
| Repository | Stars on GitHub |
|  - | - |
| Spotifyd  | 4,994 |
| raspotify | 3,216 |
| librespot | 2,241 |
| ncspot | 1,976 |

But raspotify is indeed librespot as-is. Spotifyd adds more cool stuff, but I don't know exactly what.

[2021-05-18 19:07] JasonLG1979 commented on #727
Yes the binary is pure `librespot` but it's compiled with only the alsa backend and configured to be a service made to work specifically on Raspberry Pi's (headless Pi's for the most part). It's a little bit more that than `librespot` as-is. It's basically Spotifyd "lite" for a Raspberry Pi.

[2021-05-18 19:19] JasonLG1979 commented on #727
I can't say about Spotifyd as I don't use it but as far as raspotify basically you hit one nail on the head. It has a config file which is easier for most people to edit and it keeps the unit file clean. The other being that raspotify gives you a repo so it gets updates via apt.

[2021-05-18 19:21] herrernst commented on #727
Yeah, an apt repo is nice of course, and a nice config file is also good ;-)

[2021-05-18 19:37] JasonLG1979 commented on #727
Generally I think raspotify does what downstream should do in relation to upstream. They take a program, compile it, package it up and put it in a repo to make it easier for average end users to install it, update it and use it. That's what should be encouraged. If your OS or distro or whatever doesn't package librespot IMHO as a users should ask them to. To me that's the natural order of things.

[2021-05-22 01:13] #89 closed

[2021-05-22 13:42] jonsolberg commented on #742
I'm having a similar issue:

Two premium users for which one cannot connect but can see the Librespot instance (from phone or Windows 10 desktop app). The other user can connect and play just fine, regardless of device.

Discovery is turned on, but user credentials for the working user are present in settings.xml and cache/credentials.json files.

If I remove all settings and turn on discovery bot

[2021-05-22 14:16] shanemeagher commented on #742
@jonsolberg are you using this from LibreELEC? If so, have you reported on the forum first to confirm it is not a fault with how addon is packaged?

https://forum.libreelec.tv/thread/8438-librespot-addon/

[2021-05-24 14:07] medwards opened #754 "`get_token` fails using credentials obtained through FB auth flow"
I have credentials through a modified version of https://github.com/hrkfdn/ncspot/pull/537 that uses a newly created client id and client secret (`CLIENT_ID` from here on out). These credentials authenticate:
[code]

However librespot is unable to get a token using these credentials:
[code]

I have a hacked up version of `examples/get_token.rs` that works off of these credentials instead of whats

[2021-05-24 14:21] medwards commented on #754
I made https://github.com/medwards/ncspot/tree/env-client-secrets if you want to reproduce your own credentials. However while setting it up I realized I was using the normal Spotify client id with my own client secret. If I use my client id and client secret then I can still authenticate however I can't get a token for *any* token in this case (incl. `streaming`).

This might be expected behaviou

[2021-05-24 20:37] roderickvd commented on #695
@JasonLG1979 would you like to work on the wiki? I think you've got a pretty good idea of what and how you'd like to document it. You should be able to edit it.

[2021-05-24 20:58] roderickvd commented on #651
Couple of random thoughts:

- I know `librespot-java` supports MP3 too but none of the others.
- Doesn't the Spotify Web Player play AAC? Given the same bitrate, AAC is likely more efficient and of higher psychoacoustic quality than Vorbis. AAC platform support is not so great as Ogg Vorbis.
- [Symphonia](https://github.com/pdeljanov/Symphonia) is an interesting project to watch, that aims to offe

[2021-05-24 21:03] roderickvd commented on #545
@Johannesd3 has proposed `librespot-org` to take ownership over `dns-sd` and improve on it. But for now, this is an issue upstream rather than in `librespot`. Thanks for reporting it there.

[2021-05-24 21:03] #545 closed

[2021-05-24 21:05] roderickvd commented on #567
We're seriously considering switching from Rodio to cpal, with some initial code already proposed. For now I'll be closing this issue. The buffering on Rodio-on-Alsa is indeed not so great, so better to use the direct `alsa` backend.

[2021-05-24 21:05] #567 closed

[2021-05-24 21:12] roderickvd commented on #472
If you use `amixer sset '{name}' {x}%` on the command line, back and forth between various `x` volumes, do you experience the same issue? (I think you should, there is nothing else going on in `librespot` `softvol` than what Alsa does.

You can find out the name of your mixer control with `amixer scontrols`. I'm not sure if the HifiBerry Digi has hardware volume control. If not, you'll need to set

[2021-05-24 21:12] #472 closed

[2021-05-24 21:17] roderickvd commented on #676
I'm tagging this with `new-api` because this might be fixed when we introduce web socket support.

[2021-05-24 21:19] roderickvd commented on #655
@philippe44 I took the liberty of assigning this one to you, if you'd have the time to spare and think this is a good idea.

[2021-05-24 21:20] roderickvd commented on #600
Will be fixed when we get the new API in, which is factoring in reconnection support from the ground up.

[2021-05-24 21:22] roderickvd commented on #532
Closing this as this seems to be an issue in `Kodi` downstream.

[2021-05-24 21:22] #532 closed

[2021-05-24 21:29] roderickvd commented on #359
8973d298370e60a66e12bbc5375e9e72a3919f93 fixes it so that `onevent` program failures don't cause `librespot` to panic. It still must be something with your permissions however. Or maybe your script needs something like ` #!/usr/bin/env bash` to work. Closing this for now.

[2021-05-24 21:29] #359 closed

[2021-05-24 21:32] roderickvd commented on #350
Is this still happening for you?

It's known that reconnection isn't handled well. This is likely to be fixed when we get the new API in, which supports reconnection from the ground up.

With the current `librespot` version however (assuming a stable network) I have no issues running `librespot` heedlessly for days and weeks at end, connecting and disconnecting in the evenings.

[2021-05-24 21:35] #209 closed

[2021-05-24 21:54] v1ne commented on #472
Hi. I just tried this with the Spotify client on Linux, remote-controlling Spotify on Windows 10 20H2 with a ZOOM UAC-2 audio interface: No audible clicks at all.
Changing the volume in large steps in Windows: no clicks either.
Changing the volume in large steps on my Android smartphone: no clicks either.

As a DAW developer, I assure you that audible clicks are not expected if the user changes th

[2021-05-24 22:02] espindola commented on #350
I haven't noticed this issue in a long time. Not sure what changed.

[2021-05-24 23:10] kingosticks commented on #676
No, it's a bug in libmdns as per the proposed fix in https://github.com/librespot-org/libmdns/pull/28. I don't believe this has anything to do with how librespot works.

[2021-05-24 23:15] JasonLG1979 commented on #695
I have some ideas as far as basically a "common use cases" page or section. 100% fixed volume control with no dynamic volume normalization is certainly a valid use case for faux "bit-perfect" audio from librespot. When the new API is figured out and Spotify rolls out the hifi tier and they presumably use a lossless format like FLAC it will be more compelling because it could actually be bit-perfec

[2021-05-25 01:38] Malvineous commented on #350
I still see it maybe once a week?  Often it will reconnect without any issues but occasionally it just crashes completely.  It is rare enough that it isn't causing me any problems but it is still happening.

[2021-05-25 01:46] Malvineous commented on #651
Spotify HiFi?  I guess that's only for new songs?  The number of songs they have at the moment with pops and clicks in them that sound like CD ripping errors is surprising.  There wouldn't be any point in having those in higher quality unless they could get a better quality source than a poorly ripped CD.

(Case in point, skip to 1:32 on the first track in this album: https://open.spotify.com/trac

[2021-05-25 06:26] roderickvd commented on #651
We don't know yet, official news channel is here: https://newsroom.spotify.com/2021-02-22/five-things-to-know-about-spotify-hifi/

Spotify requires musicians / distributors to submit their music in [WAV and FLAC format](https://artists.spotify.com/help/article/audio-file-formats), so there should be a cache of lossless masters.

[2021-05-25 06:27] roderickvd commented on #350
Which version are you on?

[2021-05-25 06:31] roderickvd commented on #695
Great! I'll add your name to this one. Could do some preparations for the upcoming merge of #685 too.

[2021-05-25 06:33] roderickvd commented on #676
Ah I see, I was thrown off by @devgianlu earlier https://github.com/librespot-org/librespot/issues/676#issuecomment-805188815

[2021-05-25 06:42] Malvineous commented on #350
I haven't upgraded in a while as it has been running without issue.  But I leave it connected 24/7 so that's probably why.  I guess if you disconnect and reconnect you probably won't see it if it's due to Spotify rebooting servers from time to time.

[2021-05-25 06:59] roderickvd commented on #472
I know, and if that was due to `librespot` then yes that would be broken.

Did you try my debugging steps above?
Also have you tried running `librespot --mixer alsa`?

I'm not saying it's not important, I'm saying:
1. no one else so far can reproduce it even with some rigorous testing in the upcoming #685
2. there's no ramping in [Alsa Softvol](https://github.com/alsa-project/alsa-lib/blob/master/

[2021-05-25 11:18] kingosticks commented on #651
Wow.... that is quite impressively horrendous. For me, anything after that timestamp is a garbled mess of musical pain. I don't think that's a good example of pops and clicks from "CD ripping", that sounds more like full-on data corruption. But it is interesting that it's the same in both the official client and the web streaming which points to Spotify having been given a crap source from the mus

[2021-05-25 12:15] roderickvd commented on #651
It's  actually quite tempting to see how far we can get with this. Vorbis isn't in (yet), but MP3 and AAC are under compatible MPL license. So that could solve two issues in one swoop (and keep `lewton` around for Vorbis for the time being).

I think FLAC is a good candidate for Spotify HiFi, only time will tell.

Regardless of it'll be FLAC, and if we want to depend on Symphonia or not, this woul

[2021-05-25 19:04] roderickvd commented on #742
I just tried connecting to the same `librespot` instance from two different users. It works fine in discovery mode both with and without credentials specified on the command line.

This is running `librespot` `0.2.0-dev` and I see that `Spotifyd` is still on `0.1.5`.
Please try the latest version and report if this has since been fixed for you.

[2021-05-25 19:32] roderickvd commented on #542
That's weird because `snd_pcm_hw_params_set_rate_resample()` is [enabled by default](https://www.alsa-project.org/alsa-doc/alsa-lib/group___p_c_m___h_w___params.html#ga82eecc0e27a94ce0caa195cc3765536c).

I cannot reproduce this on my setup (also, Alsa softvol is working fine for me and other users).
Can you try this on the latest `librespot` and report back?

In the logs below you see that the loo

[2021-05-25 19:36] roderickvd commented on #350
Please try the latest and report back. There's been a rather large upgrade and rewrite of the asynchronous functions. I also see in `main` that there will be up to five reconnection attempts when `spirc` shuts down unexpectedly.

It's probably a lot better than it was, and it's about as good as it's going to get until the new API gets in.

[2021-05-25 19:38] roderickvd commented on #280
Thanks for reporting back. Closing.

[2021-05-25 19:38] #280 closed

[2021-05-25 19:43] roderickvd commented on #338
Was an issue Spotify fixed upstream on their end.

[2021-05-25 19:43] #338 closed

[2021-05-25 19:46] roderickvd commented on #265
Thanks for reporting back, closing this for now then.

[2021-05-25 19:46] #265 closed

[2021-05-25 19:47] roderickvd commented on #257
Fixed by #476.

[2021-05-25 19:47] #257 closed

[2021-05-25 19:50] roderickvd commented on #247
Tracked by #609.

[2021-05-25 19:50] #247 closed

[2021-05-25 19:53] roderickvd commented on #215
Channel errors fixed upstream by Spotify on their end.
Reconnection issues tracked in #609.

[2021-05-25 19:53] #215 closed

[2021-05-25 20:00] roderickvd commented on #210
There's been a lot of development since this, including prefetching and some loading states. Since this was over two years old, I'm closing this for now, but feel free to re-open if it's still an issue.

[2021-05-25 20:00] #210 closed

[2021-05-25 20:02] roderickvd commented on #183
Was fixed upstream on Spotify's end.

[2021-05-25 20:02] #183 closed

[2021-05-25 20:09] roderickvd commented on #67
Confirmed that this is fixed when switching to `dns-sd`.

[2021-05-25 20:09] #67 closed

[2021-05-25 20:18] sashahilton00 commented on #754
It's possible that the keymaster endpoint simply doesn't support OAuth2 clients and their tokens. Given that this service is essentially an interop service that allows mercury clients to consume the HTTP endpoints protected by OAuth, the devs at Spotify may have not seen the point of supporting oauth sessions in the oauth token generating keymaster.

With regards to the `streaming` scope working a

[2021-05-25 20:19] roderickvd commented on #29
#685 implements what you ask for (logarithmic and cubic mappings, transparently for all backends), without the need to implement the asynchronous PulseAudio API.

If you feel like you don't want bits touched by volume controls in several places, then either set `librespot` or PulseAudio volume fixed to 100% and it will bypass touching any samples.

[2021-05-25 20:19] #29 closed

[2021-05-25 20:24] roderickvd commented on #372
Fixed downstream in https://github.com/balbuze/volumio-plugins/issues/259.
If this still occurs in the latest `librespot` (and not just Volumio) then feel free to re-open.

[2021-05-25 20:24] #372 closed

[2021-05-25 20:26] roderickvd commented on #354
Please test on the latest `librespot` and report back. I'm closing this for now because if this were wide-spread, then I think it would gather a _lot_ of issues.

[2021-05-25 20:26] #354 closed

[2021-05-25 20:27] roderickvd commented on #661
@Stateford I took the liberty to assign this one to you, as you offered to look into it.

[2021-05-25 20:41] roderickvd commented on #547
Yes this is outside of the scope of `librespot`, and a consequence of how the backend crates open the playback devices.

[2021-05-25 20:41] #547 closed

[2021-05-25 23:58] JasonLG1979 commented on #695
Get that and the dithering merged and whatever else you want and release `0.3.0` and I'll even do a write up on optimal configurations on a Pi Zero also, being as though it's the official potato. I mean for under $50 someone can create a pretty decent complete Spotify Connect appliance with a Pi Zero that has the real potential to best commercially available off-the-shelf devices.

[2021-05-26 03:42] Stateford commented on #661
@roderickvd sure, I don't mind taking a look when I get a chance.

[2021-05-26 08:08] Johannesd3 commented on #661
We switched to `thiserror` recently, which makes it an easy addition.

[2021-05-26 13:25] lukasdietz opened #760 "Panic when opening Alsa soundcard on Rodio"
Hey there,

I am facing an issue using librespot.
I have installed librespot using `cargo install librespot` and used it together with snapcast.
Everything worked great for around 2 weeks before it wouldn't work anymore.

If I start librespot everything works as long as nothing happens. If I am trying to connect Librespot with Spotify it panics right away:

[code]

Strange thing for me is, that it

[2021-05-26 14:41] roderickvd commented on #760
The error means that it cannot find or open the soundcard on Alsa.

When you say "without me changing anything" you confirm:
- You were running `librespot` 0.2.0 before? The log says you built it on 2021-05-26 so this cannot be the same as 2 weeks before.
- You did not perform any system updates?
- You did not change any configuration files (including `/etc/group`)?

Besides the questions above, p

[2021-05-26 19:43] #681 closed

[2021-05-26 20:01] roderickvd commented on #695
Just merged! Great if you could find the time and work on that documentation. Meanwhile we can give everyone some time to test the all the changes in `dev`, then get a `0.3.0` out the door later.

[2021-05-26 22:29] JasonLG1979 commented on #695
Good deal. I'll do it this weekend.

[2021-05-27 06:11] lukasdietz commented on #760
Sorry for not beeing clear. I forgot to mention, that I reinstalled Librespot today as a first try to fix this on my own.
But for all your other questions: Yes I did run librespot 0.2.0 before and did not change any configuration or run updates.
The only thing I could mention was a reboot of my proxmox host where the lxc with librespot is running on.

I tried compiling librespot as mentioned. Now

[2021-05-27 06:29] roderickvd commented on #760
That `aplay` output means that there no PCMs available. I've never used Snapcast and so don't know how that's supposed to work. But I'm glad to hear it's now working for you.

[2021-05-27 06:29] #760 closed

[2021-05-27 09:36] kraxarn opened #765 "Playing from artist often causes a crash"
I'm trying to play music from an artist, for example by doing a call to the Web API using `me/player/play` with `spotify:artist:70BYFdaZbEKbeauJ670ysI`, although, any artist seem to cause issues. A couple of tracks usually play fine, but after a short while, librespot seems to crash pretty consistently with a similar error message each time:
[code]
Only happens when playing from any artist, anythi

[2021-05-27 13:32] Johannesd3 commented on #765
Maybe you'd like to try out my proposed fix

[2021-05-27 13:48] kraxarn commented on #765
Thanks for the fast response, but I'm still experiencing issues. Got this error now instead:
[code]

[2021-05-27 13:56] Johannesd3 commented on #765
I'm sorry if it wasn't clear, but you should test https://github.com/Johannesd3/librespot/tree/fix-integer-overflow

You're experiencing another error probably because you turned release mode on, which disables integer overflow checks.

[2021-05-27 14:05] kraxarn commented on #765
Oh yeah, oops. I checked out your clone, but failed to notice it still checked out the dev branch :sweat_smile:
Seems to work fine, but I still have the issue of it only playing a few tracks from the artist, but maybe that's a separate issue.

[2021-05-27 14:09] Johannesd3 commented on #765
Try to run it with `RUST_LOG=DEBUG` environment variable and look out for `Malformed or no gid, attempting to parse URI <...>`. I'm curious what these angle brackets contain.

[2021-05-27 14:29] Johannesd3 commented on #765
According to your stack trace, this message must appear every time shortly before crashes (would have crashed previously). Try the same on `dev`, and if it crashes without showing this message, I'll have to investigate further.

[2021-05-27 14:41] kraxarn commented on #765
Sorry for being unclear, it doesn't crash anymore, or at least haven't yet. The issue now is that it doesn't play all tracks from an artist. While running with `RUST_LOG=DEBUG`, I found this in the log:
[code]
so it thinks there are only 24 tracks, and after they are done playing, it just stops the playback. 2 of them are even duplicates, so there's really only 22 tracks.

[2021-05-27 14:50] Johannesd3 commented on #765
Yes, I know that it doesn't crash anymore. But the functions that calls the function that used to crash prints this debug message. If it doesn't appear, the function isn't called anymore, probably. But I touched only the crashing function itself, in particular it should be called exactly as many times as before. Would you please verify that the unfixed version still crashes, and whether this log m

[2021-05-27 14:56] kraxarn commented on #765
Seems like these issues are related. First thing I noticed was
[code]
which means the unfixed version finds 63 tracks, but also, it crashed after the 24th track with
[code]
so it seems like there's a paging issue and the "fixed" version only includes the first page.

[2021-05-27 15:07] Johannesd3 commented on #765
I can't imagine this little fix changed the behaviour. Is it possible that it depends on some other factor?

[2021-05-27 15:11] kraxarn commented on #765
Weird, you're right. Just tried it again and the fixed version found 63 tracks now, how odd. When it gets to the 25th track, instead of crashing, it just skips everything:
[code]
Not sure what I did differently.

[2021-05-27 15:17] Johannesd3 commented on #765
I'm no expert here. Maybe @ashthespy knows more.

[2021-05-28 13:49] mathquis opened #774 "Unable to compile: this struct takes 3 type arguments but only 2 type arguments were supplied"
OS: Debian (buster)

[code]

[2021-05-28 13:59] ashthespy commented on #765
Just dumped the frame -- `librespot` is being quite robust here!
[code]
is a bit of  stretch, when you look at the actual `frame`:
[code]
Will have to investigate what the official client does to fetch more of the "poplar" tracks after the initial few in the `frame`.

[2021-05-28 15:21] roderickvd commented on #774
What is your `rustc` version? Debian Buster has 1.41 I believe while the minimum supported version is 1.48.

[2021-05-28 16:16] mathquis commented on #774
rustc 1.52.1 (9bc8c42bb 2021-05-09)
cargo 1.52.0 (69767412a 2021-04-21)

[2021-05-28 16:19] kingosticks commented on #774
isn't this something to do with not using `std`? That 3 argument version is gated by `#[cfg(not(has_std))]`.

[2021-05-28 16:34] mathquis commented on #774
@kingosticks You're right!

`sudo apt install libstd-rust-dev` solved it.

[2021-05-28 16:34] #774 closed

[2021-05-31 00:18] JasonLG1979 opened #779 "Feature Idea: auto normalisation-gain-type"
Librespot and Spotify currently supports both track and album normalisation gain types. Which to use is currently up to the user, defaulting to album. An auto mode would not be that difficult. If 2 tracks in a row are from the same album use album mode if not use track mode.

[2021-05-31 00:28] JasonLG1979 commented on #779
Basically if the current track is the same album as the next track, album gain if not track gain. The only special case is at the end of the playlist. In that case since there would be no next track you'd want to look at the previous track to see if it's the same album to decide.

[2021-05-31 00:34] JasonLG1979 commented on #779
My bad. Just noticed the whole feature requests should be discussions thing...

[2021-05-31 06:02] #779 closed

[2021-06-03 22:16] georgefst commented on #238
Similar here after switching off bluetooth (wifi + bluetooth interfering with each other is a known issue on some Pi models). Of course, ideally `librespot` should be able to handle disconnects without falling over completely. But there's been recent activity at #609, so hopefully that will be resolved some day.

[2021-06-04 15:27] Nuke142 opened #787 "Alsa 'snd_pcm_hw_params' error with USB DAC"
Hi. I'am trying to use librespot with raspberry pi zero w (Raspberry Pi OS Lite + raspotify) and usb dac.
As i understand my DAC can do 32bit, not 16bit. So i use --format S32. But have errors after song start.
Using latest build.
What i'am doing wrong?

[code]

[code]

[2021-06-04 15:42] roderickvd commented on #787
You are running `aplay` and `librespot` with two different devices. Please use the same ones and report back.

`plughw` should really take any format and reformat to whatever your hardware device supports so I suspect an issue with your Alsa configuration.

[2021-06-04 15:50] Nuke142 commented on #787
I have only one sound card (DAC) connected to USB.
I'am weak with launch line. Shouldn't I use `--device plughw:1,0` ?

[code]

[2021-06-04 17:26] roderickvd commented on #787
The device you want is probably `hw:0`, this is the most "bare metal". You may also try `plughw:0` (with all software conversions) or just `hw:CARD=S10th,DEV=0` for the full name of your device.

In any case I am closing this as I am 99% sure that this is not an issue with `librespot`.

[2021-06-04 17:26] #787 closed

[2021-06-04 17:42] JasonLG1979 commented on #787
There's really no way to know that. `hw:CARD=S10th,DEV=0` could very well be the same device as `plughw:1,0` (just going though `plug` ofc) You can address cards by name or index.

`hw:0` is just the 1st card that `alsa` runs into. Generally `hw:0` is the built-in sound card if the device has it and it's not otherwise disabled. Indexes are assigned on a 1st come 1st served basis. If your system ha

[2021-06-04 18:11] JasonLG1979 commented on #787
I can confirm though that `plughw:x,x` works just fine as a `--device` value. Come to think of it, it looks like you may be trying to open a device that's already open judging by the `'EIO: I/O error'` part of the error. Only one program can open a sound device at a time.

[2021-06-05 22:01] roderickvd commented on #695
Thanks for adding this to the [wiki](https://github.com/librespot-org/librespot/wiki/FAQ) @JasonLG1979.

[2021-06-05 22:01] #695 closed

[2021-06-05 22:41] JasonLG1979 commented on #695
Your welcome but I totally didn't,lol!!! @coderootme did.

[2021-06-08 10:56] pingw33n commented on #651
Those AAC streams are encrypted with an external DRM (web player uses Widevine, streams provided by internal API probably use PlayReady), the existing key retrieval API doesn't work for them. Playing such streams will likely require bundling in a proprietary DRM library and reverse engineering how to set it up correctly.

[2021-06-08 11:17] roderickvd commented on #651
The 24 and 48 kbps AAC streams too? Those can be fetched with `spirc` the "Old Way" so I was betting that those were not subject to DRM. Not the higher-bitrate AAC ones that the web player streams though, they are not in the protobufs.

I'm making progress on my multi-format branch, should be close to fetching and decoding AAC's and MP3's soon. Also saw in the latest protobufs that FLAC is in. So

[2021-06-08 13:30] Semmu commented on #519
FYI this issue started happening to me again since a couple of hours. If it is indeed an issue from Spotify's side, I guess there is not much we can do.

[2021-06-08 14:43] pingw33n commented on #651
Not sure about the `spirc` but the AACs that appear in `Track::files` for few tracks I checked were all DRM encrypted.

[2021-06-09 10:48] Malvineous commented on #519
At least this time they were aware of it pretty quickly and wrote about it on their status page: https://twitter.com/spotifystatus

It's been working fine again for me for many hours now.

[2021-06-09 12:45] coderootme opened #793 "Cannot use librespot if there are multiple librespot devices on the same network with discovery enabled."
My current setup is:

- one raspberry pi with librespot connected to my speakers
- another raspberry pi with librespot connected to my headphones

Both devices are on the same network and both devices have discovery enabled and no credentials provided.

When I have both devices online and one is playing music, I am unable to switch playing to the other. I can see it in the spotify app as an availa

[2021-06-09 15:58] Nuke142 commented on #787
Problem solved. All of this because of usb power-board that was attached to second-hand rpi i bought (https://www.elecrow.com/usb-hub-powermanager-for-rpi-zero-v1-0.html)
Disconnected it and used simple pc usb hub via micro usb port on rpi zero w. Works like a charm.

[2021-06-10 00:45] JasonLG1979 commented on #793
I can't reproduce either. I run 2 or 3 simulations instances, sometimes on the same machine all the time while testing things and never have any trouble.

Purely anecdotal but some routers don't play well with mDNS. I had nothing but trouble with my wifi router to the point that I ended up just getting a cheap standalone router/switch and just using it as a wireless AP. If you have an old router l

[2021-06-14 10:09] roderickvd commented on #793
Cannot reproduce and no further replies.

[2021-06-14 10:09] #793 closed

[2021-06-14 10:09] roderickvd commented on #542
Cannot reproduce and no further replies.

[2021-06-14 10:09] #542 closed

[2021-06-14 10:12] roderickvd commented on #523
Closing this after no further replies. Feel free to reopen if this still an issue with `librespot` and not your configuration. Principally connecting from different users and switching between them works fine on `librespot`.

[2021-06-14 10:12] #523 closed

[2021-06-14 10:13] roderickvd commented on #742
Cannot reproduce and no further replies.

[2021-06-14 10:13] #742 closed

[2021-06-14 10:15] roderickvd commented on #535
Same here. I also have no connectivity issues on an IPv6-enabled LAN (but without IPv6 connectivity to the Internet). I'm closing this because multiple users cannot reproduce it and there are no further replies. But feel free to reopen if this is a different issue.

[2021-06-14 10:15] #535 closed

[2021-06-14 10:18] roderickvd commented on #521
Can you let us know what you're piping to? Or if this is no longer an issue?

[2021-06-14 10:22] roderickvd commented on #343
Closing after no replies.

[2021-06-14 10:22] #343 closed

[2021-06-14 10:23] Johannesd3 commented on #521
Try `/dev/null` to reproduce it quickly.

[2021-06-14 10:23] roderickvd commented on #317
Cannot reproduce anymore on macOS and no further replies. There have been a lot of updates to `librespot`,  `cpal`, and Rodio since this was reported. Feel free to reopen if this is still an issue on the latest version.

[2021-06-14 10:23] #317 closed

[2021-06-14 10:25] roderickvd commented on #350
Duplicate of #276.

[2021-06-14 10:25] #350 closed

[2021-06-14 10:28] roderickvd commented on #600
Duplicate of #276.

[2021-06-14 10:28] #600 closed

[2021-06-14 10:30] roderickvd commented on #579
Is this still an issue on vanilla `librespot` (i.e. not repackaged with `ncspot` or `Spotifyd` or the like)? Recently I have tested switching back and forth users and cannot reproduce this.

[2021-06-16 22:01] strafe commented on #317
This seems to be working in the latest version of `ncspot`.

`spotify-tui` (`spotifyd`) is probably still broken since they're depending on an older version of librespot for now. Thanks everyone who worked on this!

[2021-06-25 11:03] Mitschmaster opened #812 "alsa dmixer device breaks librespot"
I have configured a mixer device via asound.conf to allow multiple programs to play audio simultanially through my raspberry equipped with a optical audio out hat. that used to work fine but recently i did a git pull and rebuild librespot. now i get the following error when playing something via librespot:
librespot_playback::player] Fatal error, could not start audio sink: AlsaSink Hardware Param

[2021-06-25 13:29] roderickvd commented on #812
@JasonLG1979 could you take a look at this, it might have been introduced by #789.

[2021-06-25 18:12] JasonLG1979 commented on #812
@Mitschmaster What does your `asound.conf` look like?

That function really should not fail. We ask for a buffer with 4 periods, worse case it should set it the closest thing to 4 or in the case of `dmix` whatever you have `dmix` configured to as far as the buffer setting. I can't reproduce on real hardware or going though `dmix` either though the default or with a [custom `asound.conf`]( https://

[2021-06-25 18:26] JasonLG1979 commented on #812
@Mitschmaster Well I guess I can reproduce if I set the periods to under 4 in `dmix`. I'm pretty sure I know how to fix it. I'll be back with a test branch and if it works for you I'll put in a PR.

[2021-06-25 18:50] JasonLG1979 commented on #812
Still curious what your `asound.conf` looks like though.

[2021-06-25 19:22] JasonLG1979 commented on #812
@Mitschmaster try [this branch](https://github.com/JasonLG1979/librespot/tree/alsa_buffer_hot_fix) I'm pretty sure it will fix the issue. If it does I will put in a PR and I'm sure @roderickvd will merge it pretty quickly.

[2021-06-25 19:34] JasonLG1979 commented on #812
@roderickvd I'm going to go ahead and put in a PR. I tested this by setting a ridiculously small buffer as far as period time and period count and were it crashed before, with that very small change in that branch it does not.

I think my mistake was explicitly asking for 4 periods and assuming people would not do weird things in their `asound.conf `,lol!!!

[2021-06-25 20:07] Mitschmaster commented on #812
The fix from @JasonLG1979 works for me. Thank you very much.
Besides, my asound.conf is not that weird. i just have a dmixer plugin. i dont even set buffer sizes or so. (maybe i should)

[2021-06-25 20:28] JasonLG1979 commented on #812
Strange that it would set the period size/count to be less than 4 by default? That seems broken to me.

If it ain't broke don't fix it.

But generally the safe norm is around 4 125ms periods for a total buffer size of around 500ms. A really small buffer will hammer your CPU and really huge buffer will lead to a noticeable delay between pausing and unpausing and manually changing tracks because the

[2021-06-25 20:30] JasonLG1979 commented on #812
There's your problem. If you don't specify any buffer setting I'm pretty sure it defaults to the device's min.

[2021-06-25 20:31] roderickvd commented on #812
I've done nothing with my dmix and it gives me a period size of 1024 and buffer size of 16384 regardless of your PR.

[2021-06-25 20:31] JasonLG1979 commented on #812
See the above comment.

[2021-06-25 20:32] JasonLG1979 commented on #812
So it did not change since the PR or not?

[2021-06-25 20:35] roderickvd commented on #812
That's right it was working before, and is working after, with no effect on the period and buffer sizes. But see my other comment over at the PR because it does do something to the sizes for `hw` and `plughw`.

[2021-06-25 22:29] #812 closed

[2021-06-26 20:33] JasonLG1979 commented on #812
@Mitschmaster I forgot to say thank you for shaking that bug out.

[2021-06-30 18:41] Mitschmaster commented on #812
Thanks for fixing it.

[2021-07-02 01:02] benpye opened #818 "librespot not usable as Spotify Connect target for podcasts"
It looks like Spotify have once again broken podcasts with librespot. I have tested with the latest commit from the dev branch ( b519a4a47d5ee3ecb5b3d70b702bdb244ada7388 ) and it still reproduces. Playing a standard track works fine, but attempting to play the [latest episode of The Skewer](https://open.spotify.com/episode/71GqrzfNxk42xod8TxFFqk?si=82f915aff8e34dfa) fails, if I begin playing on my

[2021-07-02 05:32] roderickvd commented on #818
This may sound silly but as I don't listen to podcasts myself:
did it work before and if so, on which version?

[2021-07-02 05:48] michaelherger commented on #818
My application is based on librespot 0.2.0, and it's playing podcasts just fine. But The Skewer indeed would not play. This likely is more of a problem with how the BBC (which are well known to change things often, and apply strong geo fencing) is streaming their podcasts. Or they're using codec which is not supported by librespot.

FWIW: if I listen to that podcast on Spotify directly I'm getting

[2021-07-02 06:15] roderickvd commented on #818
That's a good catch, as I'm working on the new Spotify API I haven't seen any proper handling of geofencing errors yet. Is that the root of this issue? If so then we can update the issue description to match and track it for future implementation.

[2021-07-02 13:21] michaelherger commented on #818
I don't know whether it's the root, or whether they simply are using a codec we can't handle yet. AFAIK not all podcasts are sent using the same Ogg based codec as regular streams. But there are people who know better than I do.

[2021-07-02 13:32] ashthespy commented on #818
I pulled some info out using Mercury - they are serving a mp3 file as quite a few other podcasts :-(
[code]

But, there are some hints towards some geo policing.

[2021-07-02 18:47] susnux opened #819 "crash on startup: DNSError(Unknown) in connect/src/discovery.rs"
When starting librespot 0.2.0 on ARM64 it instantly crashes with the following error.
Set `--disable-discovery` fixes that error, but of cause then discovery is disabled.

I built it with this flags:
[code]

Log:
[code]

Hardware: Raspberry PI model 3
OS: openSUSE Leap 15.3 (ARM64)

[2021-07-02 20:29] benpye commented on #818
Just to add, I am in Canada, and the regular Spotify client plays the content fine. BBC podcasts and radios should be available outside of the UK.

I have listened to this podcast before - back in February, and I think I was using librespot then too - but I am not 100% certain.

[2021-07-03 08:37] roderickvd commented on #818
If you think this is a regression and not linked to geofencing or MP3/AAC's not playing, then it would be very helpful to know which version did play this specific track successfully.

[2021-07-08 12:32] 6i6i commented on #818
I had the same problem that I couldn't select my librespot player from spotify client on android smartphone when playing a podcast episode. I had to play a song, select to play on librespot player and after that select the podcast episode.

Today I updated to the latest version of librespot and now the problem seems to be gone. I can directly select the librespot player from android smartphone and

[2021-07-11 13:03] susnux commented on #819
I thought so, but somehow it crashed and I did not noticed it...

[2021-07-11 13:03] #819 closed

[2021-07-14 18:01] micronova-jb commented on #592
@ashthespy Sorry for the complete radio silence over the past few months! Things got really crazy at work, and I was working on a lot of the other features for our AmpliPi system (neglecting Spotify). I initially couldn't figure out the vollibrespot integration, but after more digging this week, it's working quite well for me! Your daemon does everything I wanted and more - full metadata (includin

[2021-07-14 18:30] kingosticks commented on #592
@micronova-jb are you distributing librespot with your system? Any sort of integration should include the [librespot disclaimer](https://github.com/librespot-org/librespot#disclaimer) so users know the risks and understand that what they are using is a reverse-engineered solution which may violate Spotfy's ToS. Everything built on librespot should do this but I think it's particuarly important if

[2021-07-14 20:03] micronova-jb commented on #592
@kingosticks Yes, we are planning on distributing Librespot as part of our open-source project [AmpliPi](https://github.com/micro-nova/AmpliPi). Our business model is to sell the hardware that the open-source software runs on. It is a hobbyist project, and our users understand the limitations; we have recently updated some of our documentation to make it clear that Spotify support is provided by L

[2021-07-15 09:29] ashthespy commented on #592
@micronova-jb That is good to hear, I have a few more things to sort out regarding sharing of the sink, will happen when I find time ;-)

[2021-07-23 09:24] WhyNotHugo opened #824 "librespot crashes if the local system is using systemd-resolved instead of avahi"
I'm currently using [systemd-resolved](https://man.archlinux.org/man/systemd-resolved.8) for mDNS rather than avahi, and `librespot` flat out crashes when starting.

[code]

This happens with the latest stable release. I tried building from source, but it seems pulseaudio won't work in that case for some reason:

[code]

I've noticed that now `rodio` seems to be used as a backend, and not pulseaud

[2021-07-23 09:54] kingosticks commented on #824
What features does this build have enabled?

How to compile with the pulseaudio feature enabled is explained at https://github.com/librespot-org/librespot/wiki/Compiling#features. That page also contains info about the `with-dns-sd` feature.

[2021-07-23 11:54] WhyNotHugo commented on #824
I'm using [this package](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=librespot), which is basically built using the default.

Given that pulseaudio is the de-facto standard sound system on Linux desktop, wouldn't it make sense for that to be enabled by default? Otherwise most users should have to rebuild themselves tweaking some compile-time flags.

I'm a bit confused about this flag. I

[2021-07-23 14:35] kingosticks commented on #824
No, it [appears to be built](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=librespot#n31) with `--all-features`, This is not the default.

The wiki page states the default feature is the Rodio backend. Every other feature in that table is disabled by default and that includes `pulseaudio-backend` and `with-dns-sd`.

You've changed the default feature from Rodio to Pulseaudio, so that will

[2021-07-23 15:34] WhyNotHugo commented on #824
Ah, thanks for the explanation, that makes sense. I guess that when using `systemd-resolved` instead of `avahi`, the `with-dns-sd` feature should be disabled.

I'm surprised that `systemd-resolved` doesn't serve as a drop-in replacement for `avahi`, considering it comes from the same developer.

Might it be related to:

[code]

---

This is a bit of another topic, but why use Rodio by default inst

[2021-07-23 15:36] ashthespy commented on #824
Rodio is cross platform (Windows, Linux, MacOS) :-)

[2021-07-23 15:42] WhyNotHugo commented on #824
Any hints on how to make it work on Linux?

[2021-07-23 15:47] WhyNotHugo commented on #824
Hmm.. this is a bit of a red herring. On Linux,  Rodio seems to just wrap around ALSA. So while, technically, it _is_ multi-platform, it won't run on most Linuxes since most distributions ship Pulseaudio and not ALSA as a sound subsystem.

It's really as "cross-platform" as pulseaudio. Pulseaudio runs on windows, but I don't expect most windows users to have pulseaudio set up.

[2021-07-23 15:48] ashthespy commented on #824
Not sure, Rodio uses [`cpal`](https://github.com/RustAudio/cpal) behind the scenes, so you would have to look there. Since PA runs on ALSA anyway, you would probably have to hook into that subsystem directly.

[2021-07-23 16:14] WhyNotHugo commented on #824
So there's two parts to ALSA (which is a source of infinite confusion):

1. The kernel sound subsystem.
2. The userspace component for handling audio.

When using pulseaudio, it relies on (1), but supercedes (2). Pulseaudio can be built to also expose the same APIs as (2), but that's mostly there for legacy compatibility for older software (e.g.: stuff that precedes pulseaudio), and not enabled by

[2021-07-23 16:57] kingosticks commented on #824
[Start a new discussion](https://github.com/librespot-org/librespot/discussions/new) about making PulseAudio the default.

[2021-07-23 17:19] WhyNotHugo commented on #824
Yeah, that's quite off-topic here. Thanks for the pointers.

[2021-07-23 17:20] #824 closed

[2021-07-30 12:27] regie-techno opened #826 "backend jack"
I successfully compiled librespot with the --features jackaudio-backend option.
When I run librespot with the jackaudio backend, this is what I get:

[code]

Does anyone have an explanation ? I am lost !

[2021-08-02 18:00] capnfabs opened #828 "Interest in expanding Metadata impls for Track and Album, adding a ContextChanged event mechanism"
Hi team,

I'm making some changes to [`spotifyd`](https://github.com/Spotifyd/spotifyd) so that it can obtain enough information for its [MPRIS](https://specifications.freedesktop.org/mpris-spec/latest/) implementation from librespot. I'm interested in making some changes to librespot to support this, and wanted to check if that seemed reasonable before opening PRs :)

The main thing I'd like for

[2021-08-03 13:52] Groovylein opened #829 "Stop streaming music from the commandline"
Hello,
is there a possibility to stop the current playing song from the command line?

Regards
Groovylein

[2021-08-03 13:52] #829 closed

[2021-08-06 00:11] TheFrozenDuck opened #831 "librespot output as internet radio stream"
I got the odd case of needing the output of librespot available as internet radio streams. I looked into icecast but it seems to be quite a lot of overhead for a single audio stream. I also found no other solutions yet and so I was wondering if anyone already had a similiar problem and was able to solve it.

For the case that there is no solution I was wondering, if internet radio support in form

[2021-08-07 08:47] aseimel opened #832 "minimum volume to high"
I currently have librespot setup on a pi and everything works perfectly. Only the volume control is problematic as volume is WAY to high. I can only listen comfortably on the lowest possible volume setting which gives me no control over volume at all. Is there any way to extend the volume range downwards?

[2021-08-07 13:12] ja14000 commented on #832
Try lowering the Master volume using the 'alsamixer' command.

[2021-08-07 19:51] roderickvd commented on #832
How are you launching `librespot`? And which version? Might you be using `--mixer alsa` and `--volume-ctrl log` (which is the default)? Then try `--volume-ctrl linear`. This is fixed in `master` but remains an issue on `0.2.0`.

[2021-08-07 19:52] #831 closed

[2021-08-07 20:00] roderickvd commented on #828
Thanks for chiming in.

Yeah, let's get that in a PR.

Ideally it would all be dispatched under the same `--onevent` handler.

I've been asking this question myself as I've been working on `new-api`. From the proto's, I don't think so? To double-check, you could best read through the `librespot-java` code. If it's there, @devgianlu will have implemented it.

[2021-08-07 20:01] #828 closed

[2021-08-07 20:03] roderickvd commented on #826
Please launch `librespot` stock (so without `raspotify`) and post the full verbose logs.
Have you verified correct playback of `jackd` through other means, e.g. with `jack_simple_client`?

[2021-08-07 20:04] roderickvd commented on #818
I'm closing this for now, but if anyone encounters this then please respond to my request in https://github.com/librespot-org/librespot/issues/818#issuecomment-873370485.

[2021-08-07 20:17] roderickvd commented on #697
Closing, can't reproduce and no further feedback.

[2021-08-07 20:17] #697 closed

[2021-08-07 20:18] roderickvd commented on #661
@Stateford is this still something you would like to pursue?

[2021-08-07 20:18] roderickvd commented on #655
@philippe44 is this something you would want to look into?

[2021-08-07 20:19] roderickvd commented on #579
Closing, no further feedback.

[2021-08-07 20:19] #579 closed

[2021-08-07 20:20] roderickvd commented on #522
Do you have a way of reproducing this reliably?

[2021-08-07 20:20] roderickvd commented on #521
Closing, no further feedback.

[2021-08-07 20:20] #521 closed

[2021-08-07 20:21] roderickvd commented on #486
@Johannesd3 I thought about assigning this to you, as you have new mDNS in the works.

[2021-08-07 20:24] roderickvd commented on #481
Thanks for that first link, I can reproduce and confirm this issue.

[2021-08-07 20:26] roderickvd commented on #298
Closing, no further feedback.

[2021-08-07 20:26] #298 closed

[2021-08-07 20:28] roderickvd commented on #226
This behaviour is known to me e.g. when the player thread panics. @JasonLG1979 is putting quite a lot of effort in error handling in #823, let's see how that goes.

[2021-08-07 20:29] roderickvd commented on #19
Will be tackling this under `new-api` efforts.

[2021-08-07 20:30] roderickvd commented on #172
Closing this for the same reasons as in #215 (Spotify fixed channel errors on their end).

[2021-08-07 20:30] #172 closed

[2021-08-07 21:00] jdertmann commented on #521
Even without practical impact, it's still not the way it should be

[2021-08-07 22:17] philippe44 commented on #655
Do you think this is an important feature?

My last attempt to change something in librespot was rejected (https://github.com/librespot-org/librespot/discussions/741 and https://github.com/philippe44/librespot/tree/HTTP-sink) and I can understand why but as I'm not good (to say the least) at Rust, these modification are a lot of hard work for me and I lost a bit my motivation since last time.

I w

[2021-08-08 09:14] aseimel commented on #832
I am launching librespot as a systemd service. I found a solution now using normalization and reducing the volume level this way

[2021-08-08 09:39] regie-techno commented on #826
Thanks for your answer !
Effectively, I compiled librespot v0.2.0, and launched librespot without raspotify and it works fine withd jackd.

[2021-08-08 09:39] #826 closed

[2021-08-09 13:24] roderickvd commented on #832
With which command line options?

That's right but it should not be necessary.

[2021-08-09 13:38] roderickvd commented on #655
I feel the best way I can answer is by principle: I think that the passthrough decoder should do exactly what's on the tin, namely, passing through the audio files as they are.

Taking that as a guiding principle, I think it would be good that if there's normalisation data in the incoming audio file, that should also be in the passed through audio files.

TL;DR yes I think so for feature-completen

[2021-08-09 17:16] philippe44 commented on #655
Thanks for the answer - I understand the statement "the passthrough decoder should do exactly what's on the tin, namely, passing through the audio files as they are" and that's what I'm doing but I think the OP wants something different.

AFAII, the original problem in librespot was that replaygain was ignored by the decoder and a PR was made in 2018 to apply gain on PCM samples. Then an option wa

[2021-08-09 18:08] DeLub commented on #655
My suggested feature request was to have the original replaygain values that go along with the original, untouched audio data.

[2021-08-09 18:20] philippe44 commented on #655
So I'm a bit confused then b/c the replaygain, as set in the ogg headers given by spotify is passthrough as well. I don't remove/touch it

[2021-08-09 18:30] aseimel commented on #832
I run `/home/ubuntu/librespot/target/release/librespot -n "Librespot" -b 320 -c ./cache  --initial-volume 20 --backend alsa --device "hw:CARD=Loopback,DEV=1" --format S24 --volume-range 60 --enable-volume-normalisation --normalisation-pregain -10
`

I am running this on a pi4.

[2021-08-09 18:39] roderickvd commented on #832
Very strange. Can you post the full verbose logs on startup, then playing a song and changing the volume slider a few times? (please do so without the -10 dB pre-gain)

[2021-08-12 07:50] stargazer opened #835 "Sound is very distorted and basically unlistenable"
i have librespot set up on a raspberry pi 3 with HiFiberry.
All of a sudden, the sound has become very distorted and noisy, making it essentially unlistenable. It's almost like listening to a very scratched and badly produced vinyl.

The exact build i'm running is `librespot 0.2.0 d65f504 (Built on 2021-08-05, Build ID: g5mmH7Vl)`.
I run `librespot` with these parameters:
[code]
I've also tried a

[2021-08-12 09:39] roderickvd commented on #835
I think the logs you posted were launched with different parameters? I see normalisation is enabled, but that's not in your command line above.

1. What are your exact command line options belonging to that log?
2. Does it still occur with `--normalisation-method basic`?
2. Are you running the 0.2.0 crate or have you compiled from source?
3. Please try compiling from he latest source, is it now fi

[2021-08-12 10:48] stargazer commented on #835
Hi @roderickvd and thanks for the prompt reply!

[This](https://github.com/stargazer/raspbian-hifiberry-librespot/blob/master/librespot.service) is the exact service that starts `librespot`. As you can see the command line options are the ones I posted earlier.

Just tried it and indeed, the sound is still very distorted

I compile from source. [This](https://github.com/stargazer/raspbian-hifiberr

[2021-08-12 10:51] roderickvd commented on #835
Yes please try compiling from `dev`.

[2021-08-12 11:25] stargazer commented on #835
Hi @roderickvd, I have compiled from `dev` as you suggested. The sound is still distorted, same as before.

<details><summary>Here are some logs from this run</summary>

[code]

</details>

[2021-08-12 11:29] roderickvd commented on #835
1. In your top post you said it became distorted "all of the sudden". Something *must* have changed, what was it?
2. What happens if you use `--backend alsa` directly instead of using Rodio?

I cannot reproduce this, I'm starting to think it's something in your OS or sound system configuration.

[2021-08-12 11:41] stargazer commented on #835
Nothing, not on my end at least. I've had the same `librespot` build for quite a few months now, and my raspberry pi was running it non-stop for a couple of months. Then one day the sound was distorted and noisy.

I get this beauty :/
<details><summary>log</summary>

[code]

</details>

The thing is, I also run [Moode](http://moodeaudio.org/) on the same machine so that I can playback my own music

[2021-08-12 11:44] stargazer commented on #835
Perhaps related:

[code]

[2021-08-12 11:46] roderickvd commented on #835
Yes, please compile like `cargo build --release --features alsa-backend`.
Co-incidentally, that's also what moOde does, so this may turn out to be a Rodio thing.

[2021-08-12 11:58] stargazer commented on #835
Co-incidentally, that's also what moOde does, so this may turn out to be a Rodio thing.

oh wow @roderickvd, just tried it and this has absolutely fixed the sound. Crystal clear, like it used to be :)

I have absolutely no idea what `alsa` is, why it wasn't available and how it differs from Rodio, but thanks a bunch for your help :)

[2021-08-12 13:09] roderickvd commented on #835
Happy to help. This is a thing with Rodio on Alsa, that sometimes happens and sometimes doesn't. Earlier I spent some time debugging in Rodio and CPAL but haven't found a clue as to why. You should report it [upstream](https://github.com/RustAudio/rodio) if you can.

[2021-08-12 13:09] #835 closed

[2021-08-24 17:56] philippe44 commented on #655
@DeLub: can you comment? Do you see something different?

[2021-08-29 02:28] hbbtstar opened #838 "Crash when starting up with username"
Hey all!

I'm attempting to use librespot 0.2.0 (version string on startup is librespot 0.2.0 UNKNOWN (Built on 2021-08-28, Build ID: cETMHgxg)) and it's crashing on startup after authenticating: the stack trace is reproduced below with my username omitted.

[code]

I think it's something getting called in the session.rs file, since when I run the command without a username and password it doesn't

[2021-08-29 08:47] roderickvd commented on #838
Not at this point, the full stack trace of a debug build would be helpful.

[2021-08-29 14:53] hbbtstar commented on #838
so I think actually the crash was on attempting to play a song, not on startup: I got this stack trace when I started up with a debug build:

[code]

I rebooted the dev kit and it seemed to clear out whatever old stream was stuck in memory (I'm guessing, since the error appears to be related to bad timestamps) has been resolved! Closing this out as everything is working correctly now

[2021-08-29 14:53] #838 closed

[2021-08-29 18:28] roderickvd commented on #838
Thanks for the feedback, glad to hear it's working.

[2021-08-30 14:01] davidlb opened #839 "[dev] USB Audio card not detected by librespot with ALSA"
librespot 0.2 was running fine with my USB Audio card and now, I wanted to give a try to the dev branch, my USB card is not usable/detected. Any idea or what I could do for debugging?

Here is the result of:
[code]
[code]

Thanks for your help!

[2021-08-30 15:11] davidlb commented on #839
Wait, it was not detected with librespot 0.2 neither, I probably have a problem in my setup.

[2021-08-30 15:33] davidlb commented on #839
Sorry, finally it's a bug. I cannot run librespot from the dev branch:

**librespot 0.2**
[code]
**librespot dev version**
[code]

[2021-08-30 17:20] roderickvd commented on #839
Please try compiling from #821, the Alsa mixer is broken in current `dev`.

[2021-08-31 18:02] roderickvd commented on #839
Good to hear! I'll merge that PR shortly.

[2021-09-01 11:36] roderickvd commented on #839
By the way, unless you have some specific requirement to use Alsa softvol, I recommend that you use librespot's own softvol and default mixer. Nowadays that's completely transparant in 64-bit floating point, while the Alsa one has more conversions and greater error due to working in integer math.

[2021-09-02 07:40] Malvineous commented on #350
Sorry for the late reply.  Been running the updated code for the last two months and it does seem to be a lot more reliable.  It will automatically reconnect but it won't resume the previously playing track which somewhat defeats the point as I still have to go mess with it to get it playing again, but it's definitely a step in the right direction!

[2021-09-02 19:43] DeLub commented on #655
I'm sorry for the late reply.

When I created this request, I was not able to normalise with ffmpeg. That's why I put forward this request.

However, at this moment I'm not using Spotify anymore. I switched to Apple Music as the Apple One subscription saves me money, and actually AM and Spotify are quite comparable in my opinion.

[2021-09-02 19:55] roderickvd commented on #655
OK, let's close this then. Thanks for getting back.

[2021-09-02 19:55] #655 closed

[2021-09-14 22:22] RainbowCookie32 opened #845 "Playlist::get panics if the playlist contains tracks from Local Files"
Seems like SpotifyId::from_base62() can't handle tracks from local files, since it returns Err.

This leads to the unwrap() on the [parse function](https://github.com/librespot-org/librespot/blob/e27992a754b840e9c4591ebd32838cadaf51ebe8/metadata/src/lib.rs#L129) called from Playlist::get ([here](https://github.com/librespot-org/librespot/blob/e27992a754b840e9c4591ebd32838cadaf51ebe8/metadata/src/l

[2021-09-15 08:46] roderickvd commented on #845
Yeah, seems right. Do you know your way around Rust to submit a PR? I see more than one Rust project listed on your GitHub profile 😉

[2021-09-15 15:30] RainbowCookie32 commented on #845
I can give it a spin. Would replacing
[code]
with
[code]
be good enough in your opinion? Not gonna lie, I've barely used map() (or most functions with iterators) in my time with Rust.

[2021-09-16 06:30] aniketfuryrocks commented on #152
can we implement a proxy cache ?

[2021-09-16 10:18] ashthespy commented on #845
Try looking at [`filter_map`](https://doc.rust-lang.org/std/iter/trait.Iterator.html#method.filter_map) :-)

[2021-09-16 15:53] roderickvd commented on #152
What do you want it to do, other than the proxy support and caching support that is already in?

As for saving files locally, please refer to https://github.com/librespot-org/librespot/issues/152#issuecomment-365600191: that's not something we want to support because we don't want to violate the Spotify T&C's.

[2021-09-16 16:13] RainbowCookie32 commented on #845
I knew there had to be a nicer way 😅

Seems to work fine, will PR it. Thanks for the help guys!

[2021-09-17 19:55] razserv2010 opened #847 "Failed to enable unit: File spotify.service: Invalid argument"
I installed openhabian OS on Raspberry Pi 4B
I added a user named ledfx and on it I installed liberspot and I can not install service
when I do:
`sudo systemctl enable spotify.service
`
I get an error:
`Failed to enable unit: File spotify.service: Invalid argument
`
this is the location of the service:
`sudo nano /etc/systemd/system/spotify.service
`
and this is the service:

[code]

Would appreci

[2021-09-17 22:04] kingosticks commented on #847
Use https://github.com/dtcooper/raspotify

[2021-09-19 23:30] dubo-dubon-duponey opened #848 "Underrun with onevent script"
Hi,

I recently added an onevent handler to my rig (rpi3).
Since then, I'm getting a significant amount of:

`ALSA lib pcm.c:8545:(snd_pcm_recover) underrun occurred`

That seems to be related to my event handler script (which is basically retrieving artwork then pushing that on a framebuffer).

Assuming my underrun problem(s) is indeed because of my script, this makes we wonder: is the call to th

[2021-09-20 17:09] roderickvd commented on #848
Yes, it's now blocking:

https://github.com/librespot-org/librespot/blob/e27992a754b840e9c4591ebd32838cadaf51ebe8/src/player_event_handler.rs#L84-L88

Although I can't phantom every use case of what an event script might do, I don't think there's any particular functional reason. Try to remove the `wait` and see what happens.

Anyone who feels it *should* block?

[2021-09-20 17:12] roderickvd commented on #847
Yeah, please try that. I think there's something up with your `spotify.service` permissions, but we don't provide Linux system support here. Feel free to try on [Gitter](https://gitter.im/librespot-org/spotify-connect-resources) though.

[2021-09-20 17:12] #847 closed

[2021-09-20 17:19] dubo-dubon-duponey commented on #848
Thanks.
Meanwhile I changed my script to perform its operations asynchronously and it seems to fix my underrun issues.
I'll confirm with removing the wait.

(and obviously my vote is for "non-blocking" :-))

[2021-09-20 17:20] #845 closed

[2021-09-22 10:00] Velka-DEV opened #853 "What changes are needed for free support ?"
Hello guys, after reading the issues #261 and #415, I would have liked to know if anyone finally took care of doing the reverse engineering work for free account support. I would be happy to help with the integration of pubs, limited skips etc. I'm not very good at reverse engineering, so would require some help. (Also i think the spotify-analyze, is not really up to date (or maybe i'm too much re

[2021-09-22 10:29] roderickvd commented on #853
No, and the [README ](https://github.com/librespot-org/librespot/commit/2541f123bcbb69454de901f48785988df61a7d68#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5) has been clarified to read that we won't support this:

If you would be willing to donate your time, then we can use all the help to implement the [new API](https://github.com/librespot-org/librespot/tree/new-api) wi

[2021-09-22 10:29] #853 closed

[2021-09-22 10:33] roderickvd commented on #853
Also you're right that `spotify-analyze` is out-of-date. It could use a refresh. In the meantime, I resort to [`librespot-java`](https://www.google.com/search?q=librespot-java&oq=librespot-java&aqs=edge.0.69i59j0i30l3j69i60l3.1208j0j9&sourceid=chrome&ie=UTF-8) as an authoritative reference of the new Spotify API.

[2021-09-22 10:41] roderickvd commented on #226
Can you test and report back now that #823 has been merged?

[2021-09-22 10:44] roderickvd commented on #434
Is this still the case? If I remember from testing #844 I believe it now does jump to the first track even on albums with more than 10 tracks. I think I had repeat disabled though.

[2021-09-22 11:36] Velka-DEV commented on #853
If i'm not wrong @roderickvd, librespot-java don't support free accounts too.

[2021-09-22 11:40] roderickvd commented on #853
That's right, member of the same "librespot organisation". I was referring to `librespot-java` for the new API, not for free accounts.

Others are better at that than me. For the most part, it's inspecting Mercury frames, running Wireshark, and looking at web socket traffic. Myself, I look at `librespot-java` and try to port it.

[2021-09-22 11:48] Velka-DEV commented on #853
Does librespot-java use the new API ? Because when i sniff the HTTP requests on the mobile application i find differents endpoints like "{base}/playplay/{hash}" that i don't find in the librespot-java. I know librespot is based on the desktop application but it should be the same SDK for both i think.

I need to work on my reverse skills, i'm really week aha

[2021-09-22 11:54] devgianlu commented on #853
They do not use the same API. There's also a new new API which is entirely HTTP and I haven't fully implemented (there are a couple of PRs open for that). @roderickvd is referring to the new API, which includes some HTTP and WS, but not as much as the new new API.

[2021-09-22 12:05] Velka-DEV commented on #853
Thanks for you precions, your help is really appreciated. Do have you any recommendations for reversing the android app ?

[2021-09-22 12:07] devgianlu commented on #853
MITM is your best friend in my opinion m

[2021-09-22 12:11] Velka-DEV commented on #853
Yeah i already started using an HTTP sniffer for that (If it's what you mean), i got endpoints but the problem is to get the data. For the protobuff i tried to use https://github.com/marin-m/pbtk and that work on the desktop app but not on the mobile app it's a bit strange. Maybe if i'm lucky the proto are the same as desktop version.

[2021-09-22 19:48] JPW21 commented on #434
Yes still happening for me :(
Compiled from source today to make sure i have the newest version: librespot 0.2.0 57937a1 (Built on 2021-09-22, Build ID: WZl0JoZA) alsa backend

[2021-09-22 20:53] roderickvd commented on #434
OK thanks for getting back so soon. I'll put it on my list.

[2021-09-23 22:46] cosileone opened #854 "Audio slider on Spotify client always set to max volume"
When I try to change the volume on Spotify it snaps back to 100% volume

![spotify volume](https://user-images.githubusercontent.com/1733876/134593654-9e4dc923-cb6a-464d-9ad5-0d05e8b889fe.gif)

[2021-09-24 17:00] roderickvd commented on #854
Please provide the full command line you are launching `librespot` with, as well as a full verbose log.

[2021-09-24 17:55] cosileone commented on #854
This might not be the right place to bring up the issue then since I'm using this client which is a menu bar app

https://widgetworx.com/projects/libre_spot.html

[2021-09-24 20:29] roderickvd commented on #854
Yes, that is unrelated to this project.

[2021-09-24 20:29] #854 closed

[2021-09-26 20:22] AndreKR opened #855 "Volume 100 too low"
I have adjusted alsamixer in a way that other players on the system, like Rhasspy, Mopidy, `aplay`, etc. are each playing with a reasonable volume range. With Librespot however when I turn the volume in Spotify to maximum the actual volume coming out of the speakers is more like what would be 20-30% in e.g. Mopidy.

[2021-09-27 06:59] roderickvd commented on #855
Please provide:

1. the full command line you are launching librespot with;
2. the full verbose log;
3. your Alsa configuration file.

Also, the Alsa mixer has been completely rewritten in `dev`. Is there any difference between the latest `dev` and currently released `0.2.0`?

[2021-09-27 16:13] AndreKR commented on #855
`/usr/bin/librespot --name Kitchen --device-type speaker --backend alsa --bitrate 160 --cache /var/cache/raspotify --enable-volume-normalisation --normalisation-pregain 6 --volume-ctrl linear --initial-volume=50 --username [redacted] --password [redacted]`

I added the `--normalisation-pregain 6` later in order to get louder output, but it didn't really work too well.

[code]

If you mean `/etc/as

[2021-09-27 16:40] ashthespy commented on #855
You don't seem to be using the hardware mixer in this example.
So the volume in the librespot (0 - 100) is mapped to the current alsa mixer volume.

[2021-09-27 16:45] AndreKR commented on #855
Correct, none of my applications is controlling the hardware mixer, it is set to a fixed value.

But still "volume 100%" in Mopidy is blowing my eardrums and "volume 100%" in Raspotify/librespot is calm background noise.

[2021-09-27 16:49] ashthespy commented on #855
AFAIK, if nothing is touching the mixer, then the software mixer should just map 100 to the current volume.
So if you set the mixer to 80% - then 100% in librespot is 80% of the actual mixer.

But, again I could be wrong with the new revamped implementation. You could confirm with a simple experiment with `amixer`, mopidy and librespot..

[2021-09-27 17:04] roderickvd commented on #855
@ashthespy is correct, I have nothing to add to that.

Your `asound.conf` is plain & simple so I don't understand what you mean by "I have adjusted alsamixer in a way that other players on the system". But I am sure that you will need to either use:
 1. `--mixer alsa` (if Raspotify supports that -- I just don't know) or
 2. pump up `alsamixer` to 100% and then control volume using `librespot` `sof

[2021-09-27 17:04] #855 closed

[2021-09-27 17:11] roderickvd commented on #855
As a follow-up, unless you have some specific requirement I think you'll want to use a `log` volume control and not `linear`. Also see: https://github.com/librespot-org/librespot/wiki/Options#volume-control

[2021-09-27 17:16] AndreKR commented on #855
What I meant is: I have deliberately set `alsamixer` to 45%. Because then, when I play with Mopidy at 100% volume, it is the absolute maximum volume that I want to put my speakers, ears and neighbors through. If I then play the same song from Spotify with Raspotify/librespot at 100% it is so quiet you can talk comfortably in the room.

Now you could say it's just that the MP3 that I'm playing with

[2021-09-27 17:20] ashthespy commented on #855
Not sure what mopidy is doing, but open up `alsamixer `  and confirm thet they both don't touch your mixer.

Another check can be to completely turn off volume control via librespot and confirm nothing funky is going on..

[2021-09-27 17:23] AndreKR commented on #855
I can confirm that, it stays at 45 the entire time.

I tried both and I liked `linear` better. With linear the "good" volumes are distributed over a wider range, so if for example I give a voice command "louder", which will increase the volume by 5%, it's always a good amount. With the `log` volume control going from 95% to 100% has a too strong effect and but going from 45% to 50% has almost no e

[2021-09-27 17:33] roderickvd commented on #855
Can you try the latest `librespot` by compiling from `dev`?

Also curious what happens if you disable normalisation altogether. I'm not sure which `librespot` Raspotify v0.16.0 is based
on, but from the basic logs it seems like it's on `librespot` 0.1.x. That only has the basic limiter and not the new dynamic limiter. If so, upping the pregain will do the opposite from what you want, because it wi

[2021-09-27 17:45] AndreKR commented on #855
Yeah, I'll set up a build and check again, maybe it's just the old version.

The log I posted isn't the one you were looking for?

[2021-09-27 18:37] roderickvd commented on #855
I don't think Raspotify is at `librespot` 0.2.0 yet: https://github.com/dtcooper/raspotify/issues/394, maybe @JasonLG1979 can tell - he's an avid Raspotify user.

Please launch with `--verbose` for a full debug log.

Have you tried without normalisation?

[2021-09-27 19:18] JasonLG1979 commented on #855
@AndreKR I suspect that normalization is the issue. Refer to @roderickvd's comments. Without any sort of dynamic effects (limiting/compression) just lowering the volume by just a few dB is pretty noticeable as -6dB is the equivalent to 1/2 the wattage and -10dB is about half the perceived volume.

[2021-09-30 00:16] fruitofgeorge opened #856 "No Autoplay Similar Songs"
I've selected the appropriate option in my settings but when playing to my raspotify device, it never autoplays similar songs when the queue ends.

[2021-09-30 06:52] roderickvd commented on #856
Maybe you should file this issue report with Raspotify. I certainly never had issues with autoplay but I run `librespot` as-is.

If the issue persists then please try running `librespot` yourself and post the full command line and verbose logs here.

[2021-10-03 16:55] AndreKR commented on #855
Progress report: I'm [having trouble](https://github.com/dtcooper/raspotify/issues/429) building Raspotify. Instead I'll build librespot myself. Unlike Python/pip I do actually know Rust/cargo.

[2021-10-03 18:49] JasonLG1979 commented on #855
You can always just install raspotify and then replace the binary with a version you build yourself. That's what I do when I'm doing prolonged tests on things. You have to make sure to use [the proper args though](https://github.com/librespot-org/librespot/wiki/Options) in `/etc/default/raspotify`. They have changed since the version that is included in raspotify.

[2021-10-04 18:38] roderickvd commented on #856
I'm closing this for now, as I can't reproduce this and have received no feedback. Please feel free to re-open if the issue persists and you can provide the information requested above.

[2021-10-04 18:38] #856 closed

[2021-10-04 18:41] roderickvd commented on #848
And, have you tried without the `wait`?

[2021-10-04 21:24] dubo-dubon-duponey commented on #848
On it now, and will send a PR if everything checks out.

Would love to have this for 0.3 of course. Apologies for the delay here.

[2021-10-04 23:44] dubo-dubon-duponey commented on #848
@roderickvd did more reading.

As far as I can tell:

The line linked over here ^ appears to be just for sink events, which do not seem to be emitted by default. Also, *blocking* sink events was added by @kaymes at #449 and there was / is apparently a legitimate use case for it, outlined in #406.

On the other hand, it appears that run_program_on_events is not blocking (though my rust skills are l

[2021-10-05 00:06] kaymes commented on #848
The sink events are the only ones that are blocking. They are intended to allow a script to free the sink before librespot opens it. E.g. another player must be stopped before librespot can claim the audio device. So it must be blocking. The blocking events are only emitted if you give "--emit-sink-events". So not giving this argument won't emit any blocking events.

For your use case you probably

[2021-10-05 00:16] dubo-dubon-duponey commented on #848
Thanks @kaymes

Yeah, so, the (underruns) issue I was facing was when using a script handling the player events (confirming that I was *not* consuming sink-events).

We initially thought the calls were blocking, but since this is not the case for player events...
It's not clear to me why I got these underruns...

[2021-10-05 00:52] kaymes commented on #848
Maybe it's as simple as your script using the network too much so you get a buffer underrun?

[2021-10-05 01:00] dubo-dubon-duponey commented on #848
That could be of course (or any other form or resource exhaustion given it's a RPI).
But then, the script merely retrieves cover art from Spotify using curl (the machine is using ethernet, with a decent internet connection).

I think we can close this issue for now - I do not have a good repro and no confirmed explanation unfortunately, so it's not actionable...

Thank you both for taking the time

[2021-10-05 06:23] roderickvd commented on #848
OK. I'll close for now. Two leads you might pursue for your underrun issue:
1. Is your sound card on USB? I think that up to RPi 3B+ the USB bus and Ethernet card share a path and have to compete;
2. How big are those covers? Probably not big, but if they are... RPi's are known to be blocking when doing I/O writes.

Thanks @kaymes for chiming in. If at some point a use case pops up for asynchronou

[2021-10-05 06:23] #848 closed

[2021-10-05 06:28] kaymes commented on #848
@roderickvd, there are plenty of other events that fire async when playback starts/stops, so listening to the correct subset of those should cover you already.

[2021-10-05 17:41] unsuited1 opened #858 "Two qestions about the Rust library - metadata and cover art"
I am working on a native Rust Spotify binary for GNU/Linux to get more familiar with this language.

I tried to get more metadata of Tracks / Albums than is given in [librespot_metadata::Track](https://docs.rs/librespot-metadata/0.2.0/librespot_metadata/struct.Track.html). [librespot_protocol::metadata::Track](https://docs.rs/librespot-protocol/0.2.0/librespot_protocol/metadata/struct.Track.html)

[2021-10-05 18:05] roderickvd commented on #858
You could try on the chat over at [Gitter](https://gitter.im/librespot-org/spotify-connect-resources). This isn't really a `librespot` bug, so I'm closing this issue.

If you use the search, you will find a couple of old issues with channel errors. Usually they have been server errors if my memory serves correctly, or at least protocol errors. Best of luck with your endeavour and while learning Ru

[2021-10-05 18:05] #858 closed

[2021-10-05 18:08] unsuited1 commented on #858
Thanks for the fast answer!

I'll go and ask over at gitter.

[2021-10-05 18:24] roderickvd commented on #765
@ashthespy I'm not so experienced with doing MITM on Spotify, but if you could point me into the right direction what the `xx` in `/tracks/contains?ids=xx` might be then I shouldn't have too much trouble implementing that.

For the record I can still reproduce this with this artist radio: https://open.spotify.com/artist/70BYFdaZbEKbeauJ670ysI?si=oZOKG3aUSAOWv2qOjvVLPw&dl_branch=1

[2021-10-05 18:36] ashthespy commented on #765
@roderickvd I'm not near my dev machine for a few days, and my memory isn't what it used to be :|
Wwill get back to you soon!

[2021-10-05 18:40] roderickvd commented on #481
Zooming into this one, I don't think it's due to the length of the playlist, but the fact that the list starts with a long list of songs that are no longer available. On the desktop clients, it'll look for local files, but obviously that won't work on Connect devices. Are you sure this behaviour isn't the same on official Connect devices?

I've tried a couple of other large playlists (with all son

[2021-10-05 18:50] roderickvd commented on #434
I just tried, but I can't reproduce this. Can you please post the full command line you are launching `librespot` with, as well as a full verbose log?

[2021-10-05 19:03] roderickvd commented on #434
Never mind, have been able to reproduce it now!

[2021-10-05 19:03] ashthespy commented on #765
Well, that is because we don't handle any pagination -- so ideally you would fetch the rest of tracks from the updated context/or this other endpoint, excluding the current ids.

To be very honest, I am on thin ice here, I haven't looked at things in a long long while...

[2021-10-05 20:40] roderickvd commented on #434
@JPW21 could you please try the fix at #859 and report back?

[2021-10-07 07:04] theBertrum opened #861 "Play Queue inconsistencies with Android and librespot."
Hello good people,

I have come over from the community at the moOde Forum to report some behaviour we have spotted when using the Spotify Android app in conjunction with librespot.  The discussion relating to this can be read here: https://moodeaudio.org/forum/showthread.php?tid=4215 (some useful screenshots at post 10).

To reproduce the issue, first start playing a playlist (or album) by playin

[2021-10-07 07:11] roderickvd commented on #861
I can confirm this. In part #701 is the same issue. I'm not sure we can get this to work under the current Spotify API, so I'm tagging this as work to be done under the `new-api` efforts.

[2021-10-07 07:40] theBertrum commented on #861
Thanks for looking, I thought #701 had a similar feel.  I'll report back on the moOde forum and we shall wait patiently.

[2021-10-07 09:55] deed02392 commented on #547
Thanks for the reply! But how do other userspace apps handle this so effectively? For example the Spotify desktop app happily and transparently simply starts to output audio to the new system default output device. Why aren't the userspace audio backends that librespot implements doing the same thing?

[2021-10-08 13:08] almostserious commented on #481
Actually, this playlist was fully playable at that time. I just realized that the underlying albums may have been reuploaded as they are still available, just not in this playlist.
Are the other playlists you have tried also Audiobooks?

In any case, currently I cannot create a new playlist to try it as Spotify only allows me to add up to 50 Songs to a new Playlist and skips the rest when adding t

[2021-10-08 13:52] roderickvd commented on #481
I don't think so. Could you provide an URL so I can reproduce?
If they're audiobooks I also want to rule out that they're not in a format other than Ogg Vorbis (as some podcasts are known to be in MP3).

If you find an existing one to reproduce, do let us know here and we can check it out.

[2021-10-11 03:48] jessicah opened #864 "Tracks pauses constantly on first play"
Once cached, it's fine, but the first time playing a track, it always has pauses.

[2021-10-11 09:51] roderickvd commented on #864
Well that's something that myself and most others can't reproduce, or we would be swamped with such issues.
Are you sure that your network connection is in order (so that it can buffer fast enough?)
Does it also happen with cache disabled?

[2021-10-11 21:55] jessicah commented on #864
Actually, I noticed one error message on screen before disappearing of a buffer underrun. Am using the ALSA back-end. I don't have this with other apps, such as Kodi.

[2021-10-13 04:49] roderickvd commented on #434
Yes that’s the extent of this fix, only partly. Thanks for verifying. I’ll leave this issue open after merging that PR. The rest of it will require quite a bit more work.

[2021-10-13 08:18] roderickvd commented on #864
No. Find the cause of this issue and you will likely find your solution. Your system is bogged and this is causing I/O underruns.

First to be sure, was this compiled with the `--release` flag?

Second the Alsa period size of 4096 seems very small, doesn't it @JasonLG1979?
What is your Alsa output device?

Please post:
1. the full command line you are launching `librespot` with
2. your Alsa config

[2021-10-15 00:13] jessicah commented on #864
Even with @JasonLG1979's config, I'm still getting playback issues (with release build), seems buffers are still small?

2021-10-15T00:12:00Z TRACE librespot_playback::player] == Starting sink ==
[2021-10-15T00:12:00Z TRACE librespot_playback::audio_backend::alsa] Frames per Buffer: 8192
[2021-10-15T00:12:00Z TRACE librespot_playback::audio_backend::alsa] Frames per Period: 4096
[2021-10-15T00:12:

[2021-10-15 14:38] kingosticks commented on #864
To be honest I am still not sure, the online alsa docs and the source code have conflicting comments! Probably safest to avoid using it if possible and go with buffer_time instead, if you have to specify it for some reason.

[2021-10-20 20:43] pefoo opened #867 "Memory allocation of 5404319552844632832 bytes failed on connection"
Hi,
as soon as i connect to my running librespot instance, I get the following output

[code]

Using a self build version of the v0.3.0 tag

Device that runs librespot:
- Odroid C2
- Obviously not 5404319552844632832 bytes of memory (2 GB)
- Amlogic ARM Cortex-A53(ARMv8) 1.5Ghz quad core CPU
- Running Armbian (buster)

I am happy to answer questions or provide logs, if you point me to them ;)

[2021-10-21 07:12] roderickvd commented on #864
Any progress on this @jessicah?

[2021-10-30 22:02] itwasonlyabug opened #876 "Spotify does not detect Librespot as a device"
Hi, I have been using Librespot for a few months now without any issues. Starting this month (October) though, none of my Librespot instances show up in Spotify.

I am running Librespot in Docker containers on a Raspberry Pi 4, but I also tried a direct `cargo install librespot` on my laptop with no success.

I have made no changes to my home network and I have tried with various combinations of

[2021-10-31 05:08] JasonLG1979 commented on #876
I have basically zero experience with containers. Strange that it worked for months and now it stopped? Nothing else in your system has changed has it?

I would start by disabling `avahi-daemon` if you're not using it for anything else. Librespot doesn't need `avahi-daemon` unless you compile it with `with-dns-sd`. And in fact they may interfere with each other.

If that doesn't work you can try d

[2021-10-31 07:26] roderickvd commented on #876
Additionally:

I know you said you made no changes to your network, but please double-check multicast is working OK and not firewall in any way. Do other services like `shairplay-sync` (AirPlay) show up?

[2021-11-01 08:35] itwasonlyabug commented on #876
Thanks for the swift responses.

@JasonLG1979

Container-wise it's effectively running in Ubuntu 20.04 (focal) while the network is directly connected so no extra NAT or other networking hoops.

As I was unsure if this could be some random Docker / Container / RPI issue, I tried installing librespot directly on my laptop (Linux / Manjaro running 5.10 kernel).

In both cases, I'm installing Libresp

[2021-11-01 08:48] roderickvd commented on #876
Yes that's what I meant. Or any other zeroconf service.

[2021-11-01 08:52] itwasonlyabug commented on #876
I just tired `shairport-sync` running in a docker container (https://hub.docker.com/r/mikebrady/shairport-sync) on the same RPI4 and I can see it in Spotify via AirPlay.

[2021-11-02 03:45] mitchgreen commented on #442
I too am struggling with this issue, compiled from latest release

[2021-11-02 05:58] roderickvd commented on #442
Please post the playlist you are encountering this issue with.

[2021-11-02 07:14] roderickvd commented on #876
That puzzles me. I have no idea why one Zeroconf service is discoverable, and the other isn't.
Not sure if you've now also tried manually specifying a username and password, and disabling discovery?

[2021-11-02 08:22] kingosticks commented on #876
Maybe you guys already know this but that shairport-sync container also runs avahi. Maybe that's a piece of this puzzle. It's not clear to me which mDNS lib is used by the librespot binary from Cargo. Presumably it is using libmdns ? Did you disable avahi on the host?

[2021-11-02 09:27] itwasonlyabug commented on #876
I ran some tests on the laptop and here's the results:
1. Just running librespot with verbose and a name does not show up in spotify.
2. Running the same as above but with added `--disable-discovery` does not show up in spotify.
3. Running with `--username, --password and --disable-discovery` works and is visible in spotify!
4. Running inside the container with username + pass + disable-discovery

[2021-11-02 15:29] mitchgreen commented on #442
Here is a test playlist of mine that I was able to replicate the issue with. Playing with repeat all enabled and shuffle off, song number 81 plays and then the playlist repeats from the beginning as if it had reached the end of the playlist.

https://open.spotify.com/playlist/18uyEBN6Qwmw0Kulxsw7Xk?si=c21466dfde274e60

[2021-11-03 03:26] mitchgreen commented on #442
Running librespot with `--verbose` and reviewing the logs, i'm seeing that the logs indicate `[2021-11-03T03:20:42Z DEBUG librespot_connect::spirc] Frame has 81 tracks`

Playback works as expected up-to and including track 81 after which Spotify stops (when repeat is not enabled) or loops back to the beginning of the playlist (if repeat all is enabled)

[2021-11-03 08:36] roderickvd commented on #442
Re-opening. I suspect it is related to #434 where we need to support pagination contexts.
I'm still on the fence whether we should fix this here and now or as part of the `new-api` efforts.

[2021-11-03 08:48] roderickvd commented on #651
For reference, Psst is switching from `minivorbis` to `Symphonia`: https://github.com/jpochyla/psst/pull/197. Support for normalisation data is already in. I'll look into it, and welcome any PRs.

[2021-11-03 20:25] jessicah commented on #864
Sorry, I'll give the suggestions a go now, been moving stuff, and haven't had a chance to retest. It's an Intel NUC i3-4010U, audio via HDMI.

[2021-11-03 20:56] jessicah commented on #864
Well, it seems it's a weird ALSA bug. Running `aplay -D hw:0,3 --verbose ~/test.wav` gives the same issues, so I don't understand how Kodi can play audio without any hiccups. I tried passing several parameters for buffer/period size/time, but they all seem to get ignored by `aplay`.

For reference, here is output from aply with the last suggested configuration:
[code]

And without specifying a dev

[2021-11-04 20:02] roderickvd commented on #876
Well, it must be something with Avahi or otherwise. Have you also tried compiling with `--features with-dns-sd`?

[2021-11-04 20:06] roderickvd commented on #864
One last thing you could check is version `0.1.6` and `0.2.0`. Those versions approached the Alsa buffers slightly different. If either one of those work, then it's worth a discussion whether we should go back to that -- although I'd prefer not to. Anyway before we get there, it'd be nice if you could report back on that.

[2021-11-04 21:00] JasonLG1979 commented on #864
I think it may be a case of the device only accepting a very small set of a combination of buffer size, period size, number of periods parameters as even `aplay` is having trouble with it. As I've said it may just be a matter of experimenting with different values.

I'll see if I can't have a look at Kodi's source and see what they're doing.

[2021-11-04 21:23] JasonLG1979 commented on #864
Yep, they seem to iterate though buffer and period size combinations.
https://github.com/xbmc/xbmc/blob/a0d424ec8f1050b29c2233e57952c20f1c63c993/xbmc/cores/AudioEngine/Sinks/AESinkALSA.cpp#L758-L793

We can do the same. Basically start at a desired buffer and period size and loop though until we get something that sticks.

[2021-11-04 21:28] roderickvd commented on #864
Good catch. Just some more lines to work around Alsa weirdness! Fondly remember the Alsa mixer rewrite. 🤭

[2021-11-04 22:24] JasonLG1979 commented on #864
@roderickvd This monstrosity seems to do the trick:

[code]

[2021-11-04 22:37] JasonLG1979 commented on #864
@jessicah try [this branch](https://github.com/JasonLG1979/librespot/tree/dynamic-alsa-buffer) and see how it works. It kinda sorta emulates what Kodi does.

[2021-11-04 23:07] JasonLG1979 commented on #864
@roderickvd That should walk though every combination of buffer and period sizes from a buffer size of 500 ms though zero with periods no larger than a 1/3 of the buffer.

The Kodi code seems to loop back though if that fails and then tries to set the period size 1st and then the buffer size. My though on that is if that's what it takes who ever wrote the damn drivers needs a kick in the butt,lol!

[2021-11-05 13:24] roderickvd commented on #864
Either that or the hardware device (Intel?) is really iffy. What bothers me about Alsa is that it doesn't help you making these hardware idiosyncracies transparent, that you have to solve them yourself in userspace. Just blowing off steam though, it's the best thing we have in terms of bare metal performance... which means you also have to deal with bare metal.

Thanks for that patch. If it checks

[2021-11-05 16:31] JasonLG1979 commented on #864
@roderickvd I can't completely emulate what Kodi is doing because some of the functions that they use are not exposed in the rust bindings yet. I may need to add them upstream 1st and it will take a while to filter down. This whole thing is a best effort approach. Hopefully "auto mode" just works with our reasonable defaults or the user may have to do some experimenting. Pretty sure why this is th

[2021-11-05 18:17] JasonLG1979 commented on #864
@roderickvd I believe my latest iteration comes extremely close to what Kodi does (and has done for over 9 years from the git-blame) It involves some cloning and some slide of hand though. Basically you to set the buffer size 1st and if you get what you want you set the period size. If you don't you start fresh with a previous working copy of hwp and set the periods 1st and then the buffer size. T

[2021-11-05 19:43] JasonLG1979 commented on #864
For comparison Kodi's numbers ideally get you 4 50ms periods for a total buffer of 200ms, compated to our current ideal of 5 100ms periods for a total of a 500ms buffer. The smaller buffer seems to work just fine on my Pi 4. I still need to steal my Pi Zero back from son to test on it, but even that will be less of an issue with the Pi Zero 2 that came out which is basically a Pi 3 A+ in a Zero fo

[2021-11-05 20:16] JasonLG1979 commented on #864
That would be extremely broken and wouldn't work at all as ALSA sits on the bottom of every Linux audio stack be it Jack, PulseAudio or PipeWire or any app or framework that sits on top of those. ALSA is the bottom of the bottom layer unless you're really dealing with real bare metal on like an embedded system like a micro controller or something.

[2021-11-05 21:14] bennypr0fane opened #877 "librespot panic as a result of Pulseaudio problem"
I run Raspotify on my Raspberry Pi. The log is all lLibrespot messages, so I thought this would be the right place to report:

`
pi@raspberrypi:~ $ service raspotify status
● raspotify.service - Raspotify
   Loaded: loaded (/lib/systemd/system/raspotify.service; enabled; vendor preset: enabled)
   Active: active (running) since Thu 2021-11-04 00:12:35 CET; 36min ago
  Process: 1227 ExecStartPre=/b

[2021-11-05 21:35] JasonLG1979 commented on #864
Ok. The latest iteration has some useful `trace!` messages if you run in `--verbose` mode @jessicah. You should see something like this:

[code]

[2021-11-06 00:31] kingosticks commented on #877
Did you already report this to the raspotify project? They should be your first port of call.

[2021-11-06 19:28] JasonLG1979 commented on #877
The version used by Raspotify is REALLY old, but if I had to guess it's because Raspotify runs librespot as a system level service by default as it's really meant for headless systems in contrast to PulseAudio which by default is a user level service. You'll either have to run PulseAudio as a system level service (not advisable really) or run librespot as a user level service (better option IMHO).

[2021-11-06 22:37] roderickvd commented on #877
System or Raspotify configuration issue, closing here for now.

[2021-11-06 22:37] #877 closed

[2021-11-08 18:42] JasonLG1979 commented on #864
@jessicah Still waiting for you to test out [that branch](https://github.com/JasonLG1979/librespot/tree/dynamic-alsa-buffer). You're the only one that can tell us if it works on your hardware as it represents an edge case that is impossible for someone without that specific hardware to reproduce. I can confirm that it works for me on everything I own but then again the current code in the master a

[2021-11-10 21:24] itwasonlyabug commented on #876
@roderickvd I tried installing with `--features-with-dns-sd` and got multiple issues while installing / starting. See below:

[code]

I heavily modified my Dockerfile to successfully install avahi and I can start it but this does not resolve the issue that LibreSpot is not visible in Spotify. Also, please keep in mind that I have been using the unmodified version for months with no issues.

I also

[2021-11-10 21:51] JasonLG1979 commented on #876
Nothing in `librespot` has changed as far as discovery in a very long time, 6 months of so from the looks of things. (https://github.com/librespot-org/librespot/tree/dev/discovery)

If it worked forever but than stopped working clearly something has changed on your side that you have not found yet. Other devices can interfere with mdns. What new devices have you added to your network?

[2021-11-10 21:56] itwasonlyabug commented on #876
Can you give me some idea how to get some more logs out of Librespot or some breadcrumbs what the path fro Device A to Device B is so I can try to unwrap this?

All I can see is librespot starting and Zeroconf listening but no idea where the connection breaks. I can hit Zeroconf/Librespot on the port it picks, but this isn't logged in Librespot.

[2021-11-10 22:09] JasonLG1979 commented on #876
There would be no logs from `librespot` as far as it's concerned it's advertised itself as a service. If there are no logs than no connection is being made.

I believe that avahi has a GUI app. I have never used it but maybe that will help.

[2021-11-10 22:11] JasonLG1979 commented on #876
Eventually it would be nice to be able to use avahi's DBus interface for zeroconf on Linux.

[2021-11-10 22:13] itwasonlyabug commented on #876
This got me thinking - In all scenarios I have either A) No avahi working or B) Avahi working without DBus. Is DBus 100% required or is dbuss-less avahi fine?

[2021-11-10 22:15] JasonLG1979 commented on #876
I'm not sure? DBus is pretty much a requirement for a modern Linux system as just about everything uses it. I didn't even think you could run a DBuss-less system? I've never thought about it or tried?

[2021-11-16 03:30] dubo-dubon-duponey commented on #876
@itwasonlyabug

I've been (and still am) running librespot in containers successfully (currently running 0.3.1).

1. can you copy the exact command you use to start your container? specifically, what networking mode you are using

2. also, personal opinion: just avoid avahi - it's messy in containers and definitely a source of issues when multiple instances share the same ip - you do not need avah

[2021-11-16 08:47] itwasonlyabug commented on #876
@dubo-dubon-duponey

1. /usr/bin/docker run --rm --name snapserver --network host snapserver:0.24. The host is a Raspberry Pi4 and has no firewall, no IPTABLES rules and can be reached freely from the network. It is also directly connected to the same WiFi as the devices running spotify (so no NAT trickery there).

0.24 is the "unmodified" dockerfile I sent in the coment above and 0.25.1 is the mo

[2021-11-16 17:53] dubo-dubon-duponey commented on #876
@itwasonlyabug network host is likely problematic if your host also has avahi installed. Multiple mDNS stacks on the same ip will compete / not play well with each other.

Can you try to use `macvlan` instead of `host`? (or make sure your host does not have any mDNS stack running - eg: avahi)

And also make sure you use your version of librespot that does *not* use avahi (simplifies your problem).

[2021-11-16 18:01] dubo-dubon-duponey commented on #876
Also, you may want to remove snap from the equation and start just librespot (for now).

[2021-11-16 18:23] dubo-dubon-duponey commented on #876
So, 0.24 appears to use librespot 0.1.6 which is quite old. I would just try with 0.3.1.

This one forces librespot to use avahi, which IIRC does require dbus (which you disabled).

Avahi works fine withOUT dbus if you are interested in resolution only - but (again IIRC) publishing with dnssd-dev does require dbus.

This is one of the reason avahi (in a container) is usually a bad idea. Just to an

[2021-11-17 14:33] uSpike commented on #481
I've noticed that spotify's Bandsplain podcast won't work.  Not sure if this is the same problem?

Not sure how to get the URL of the track since `librespot` won't find any tracks, but here's a link to an episode:
https://open.spotify.com/episode/4pU6iIHgc1fHvtCkLQgxrT?si=bmENXjNjQ1mv6rtOH4C9Ig

If I run `librespot` v0.3.1 as a test, I see this when trying to play an episode (some things redacted)

[2021-11-17 14:37] uSpike commented on #226
I find that with v0.3.1 librespot will exit after a crash.
[code]

[2021-11-17 14:53] JasonLG1979 commented on #226
That would be happening here:

https://github.com/librespot-org/librespot/blob/dev/connect/src/spirc.rs#L1155

[2021-11-17 18:56] roderickvd commented on #226
So that means we can close this issue?

[2021-11-17 19:07] JasonLG1979 commented on #226
No. That means we need to make sure this isn't zero:

https://github.com/librespot-org/librespot/blob/dev/connect/src/spirc.rs#L1141

[2021-11-17 19:08] JasonLG1979 commented on #226
We're trying to grab the 1st thing (index 0) from a thing with a length of 0.

[2021-11-17 19:13] JasonLG1979 commented on #226
I'm not exactly sure of the context of what exactly the thing is but the return type is an option. Provided whatever is asking for it actually checks it and doesn't just unwrap we can just return None if the len is 0.

[2021-11-17 19:14] uSpike commented on #226
Yes, in my opinion this issue has been solved (not exiting on panic).

I'd suggest that be opened as a separate issue.

[2021-11-17 19:36] roderickvd commented on #226
I agree. Thanks to @JasonLG1979 so that we can now close this issue, and @uSpike for reporting back on it. Do file that new issue with steps how to reproduce that.

[2021-11-17 19:36] #226 closed

[2021-11-17 23:36] machinaeXlasse opened #879 "How to use OAuth token to successfully add user with zeroconf authentication"
I have a working librespot setup that uses user authentication via librespot options `--username` and `--password`. Since I use Oauth for my spotify api player to control the librespot device, a user of the player app has to enter password twice. Once for Oauth and then again so that I can bind librespot to the user with user/password authentication.

I was very happy when I found the [docs on the

[2021-11-18 12:42] #879 closed

[2021-11-18 23:13] dubo-dubon-duponey commented on #876
@roderickvd I shared notes / experiences about these topics ^ on the wiki: https://github.com/librespot-org/librespot/wiki/librespot,-mDNS,-networking-and-containers in the hope that could help people who have issues related to containers / mDNS.

I hope this was the appropriate thing to do, but evidently feel free to do whatever you need with that page.

@itwasonlyabug ^

[2021-11-19 09:43] itwasonlyabug commented on #876
Thanks you very much @dubo-dubon-duponey for the support!

Here's my latest attempt:
[code]
I tried with:
* Host avahi disabled (both service and via /etc/default settings) and running the container with `--network host`. ❌
* Host avahi disabled (ditto) and librespot built with the `--features-with-dns-sd` flag and the container running with `--network host`. ❌
* Host avahi enabled and the contain

[2021-11-19 20:42] dubo-dubon-duponey commented on #876
@itwasonlyabug

I'm lurking on gitter. Feel free to send me a PM over there if you want to continue this conversation out of band.

Nevertheless, the following should help figuring out what's wrong.

Can you follow these steps below *exactly as written*?

[code]

---------------------------
If you get a failure at step 1., you messed-up something with your macvlan config, so, try again until you g

[2021-11-19 20:50] roderickvd commented on #876
Great stuff @dubo-dubon-duponey, your input and documentation is highly appreciated.

@itwasonlyabug I'm fine with keeping this issue open. Although I have no idea what's going on, I do find it interesting that `shairplay` works and `librespot` doesn't. So if there's a chance that `librespot` can be improved in this regard, then that's worth pursuing.

[2021-11-19 23:02] dubo-dubon-duponey commented on #876
@roderickvd

From a cursory look & quick traffic sniffing, it seems to me that librespot uses aggressively short TTL (60 sec), and also does not appropriately set the cache flush bits on records.

For comparison, shairport sync uses a 75 minutes TTL, and does set the cache flush bit on all records but PTR.
So does Sonos (and also macOS).

Please take what I say with a grain of salt, as I'm not tha

[2021-11-19 23:23] JasonLG1979 commented on #876
I traced that back to our implementation:

https://github.com/librespot-org/libmdns/search?q=DEFAULT_TTL

And walked back though the git blames and it's been 60 since the initial commit with no explanation why?

@dubo-dubon-duponey zeroconf/mDNS is black magic voodoo to me. Apple is the king of zeroconf. I'm pretty sure they literally wrote the book. There are certainly worse things we could do th

[2021-11-19 23:36] dubo-dubon-duponey commented on #876
@JasonLG1979 I usually sacrifice a chicken before touching mDNS...

Just fixing the ttl without also fixing the cache flush will likely cause more issues I think (right now the short TTL make it so these issues are at most taking 60 seconds to resolve AFAIK).

I'll look around into the codebase and issues (on the mdns lib) though I do not know rust, so... 🤪

[2021-11-19 23:39] kingosticks commented on #876
Is this not a problem with advertising on the wrong interface, because the default interface (which is used) is probably something weird in a container?

[2021-11-20 00:03] dubo-dubon-duponey commented on #876
My guess is "no" (at least in the exact set of examples I gave above (using macvlan) - iface is `eth0@if2`, which works just fine with librespot for me - I've been using this with many different docker versions).

From a cursory look, it looks like: https://github.com/librespot-org/libmdns/blob/acd405604d2fb589e9848d1292ce9404bd206d91/src/fsm.rs#L187 - this simply enumerates all interfaces without

[2021-11-20 00:20] JasonLG1979 commented on #876
I'd be interested in working with you to improve our zerconf implementation. I'm fairly new to `rust` but I've been teaching myself by bug fixing and implementing proper error handling and quality of life improvements in `librespot`.

[2021-11-20 00:21] JasonLG1979 commented on #876
@dubo-dubon-duponey I'm fairly new to `rust` but I enjoy a challenge I'd be willing to give it a shot if you want to help me out?

[2021-11-20 00:31] dubo-dubon-duponey commented on #876
@JasonLG1979 switching conversation to gitter if you want, so we can keep this issue centered on @itwasonlyabug problem.

[2021-11-20 01:05] JasonLG1979 commented on #876
Sure.

[2021-11-20 09:06] MightyMrMuesli opened #884 "Fallback when using web proxy"
When librespot is configured with --proxy it instantly falls back to "ap.spotify.com:443". http://apresolve.spotify.com/ returns 400. Strangely the proxy logs consistently list the call to http://apresolve.spotify.com/ a few milliseconds later than to ap.spotify.com:443.

Here's my configuration (using librespot dev build [e064f27](https://github.com/librespot-org/librespot/commit/e064f27c13d1a727

[2021-11-20 15:04] heitbaum commented on #681
I have just raised the PR for LIbreELEC for 0.3.1 - just asked our forum for someone to test. All updated with your vorbis cleanups 👍 https://github.com/LibreELEC/LibreELEC.tv/pull/5891 and https://github.com/LibreELEC/LibreELEC.tv/pull/5892

[2021-11-20 18:59] roderickvd commented on #884
Could you try compiling from the `new-api` branch? I rewrote the access point resolver there.

[2021-11-20 19:06] roderickvd commented on #681
Great stuff @heitbaum!

[2021-11-21 11:41] MightyMrMuesli commented on #884
No dice. Here's the librespot log:

    librespot] librespot 0.2.0 7a730f3 (Built on 2021-11-21, Build ID: Kbn4TfYZ)
    librespot_core::apresolve] Failed to resolve access points, using fallbacks: expected value at line 1 column 1
    librespot_core::session] Connecting to AP "ap.spotify.com:443"
    librespot_core::socket] Using proxy "http://proxy:3128/"
    librespot_core::session] Authenticat

[2021-11-21 11:53] roderickvd commented on #884
I don't run a proxy and don't intend to, so this is a bit hard for me to debug.

What stands out is that `http://apresolve.spotify.com/?type=accesspoint&type=dealer&type=spclient` returns a 400 on Squid when it obviously shouldn't. Just try to open it in your web browser --when you do so via a proxy, can you confirm it loads fine? In that case can you also show the Squid log for comparison?

Anoth

[2021-11-21 12:18] MightyMrMuesli commented on #884
Yeah, now I feel stupid for not trying that one before...

apresolve.spotify.com doesn't accept connections with "X-Forwarded-For" in the header. My original squid configuration had "forwarded_for off" configured, which will set X-Forwarded-For to "unknown". In that case apresolve answers with "Invalid IP address provided".

I've changed the config to "forwarded_for delete" which removes the heade

[2021-11-21 16:07] roderickvd commented on #884
Are you sure? Not even with `forwarded_for on`?

:+1:

[2021-11-21 16:07] #884 closed

[2021-11-21 20:50] MightyMrMuesli commented on #884
I tested it with `forwarded_for on` and indeed it works. That kind of defeats the purpose of an intermediary proxy server though, so I would prefer removing the header completely.

Added [Behind web proxy](https://github.com/librespot-org/librespot/wiki/Behind-web-proxy) with some more details in the wiki.

Thanks for helping me out!

[2021-11-22 06:53] roderickvd commented on #884
Thanks for that wiki addition, great stuff.

[2021-11-23 17:28] ayushnix opened #887 "allow binding to LAN address instead of 0.0.0.0 for zeroconf"
It seems like librespot binds to all interfaces (0.0.0.0) by default for zeroconf discovery.

Pardon my ignorance but does it need to bind to all interfaces for zeroconf discovery? Would it be possible to bind it to the assigned LAN address (such as 192.168.1.2) and still have the Spotify Discovery feature (which is what zeroconf is used for?) work as expected? If yes, can we get an option to chan

[2021-11-23 18:38] roderickvd commented on #887
Duplicate of #486.

[2021-11-23 18:38] #887 closed

[2021-11-26 09:25] itwasonlyabug commented on #876
Just wanted to say I'm not dead - having some difficulties with the cabling, but will be able to test this in the next couple of days.

[2021-11-26 18:03] Callenberg opened #890 "A librespot process does not release the sound card [Raspberry Pi]"
Hello,
I have detected that the librespot child process that is associated with the sound card does not put the status of the card to "closed" as expected. Which means that librespot is blocking the sound card when another device is chosen and connected. This happens both for the Windows Spotify app and on my Android.

When checking the file `/proc/asound/card0/pcm0p/sub0/status` I can see that th

[2021-11-26 18:50] roderickvd commented on #876
Well that's always good to hear 😆
Thanks for the update.

[2021-11-26 18:57] roderickvd commented on #890
Is this with Rodio or are you using `--backend alsa`? Please try that.

[2021-11-26 22:20] Callenberg commented on #890
Thank you for the quick response.

I am using alsa and I realize now that I forgot that alsa is optional. However, adding `--backend alsa ` made librespot panicking...
`librespot -n Testing -b 160 --backend alsa` caused the following:
[code]
I must admit that I am new to rust and cargo so the bin file ended up in /root/.cargo/bin, maybe that is causing the trouble? (I thought it would be in /usr/b

[2021-11-26 23:22] roderickvd commented on #890
Please refer to the [wiki](https://github.com/librespot-org/librespot/wiki) and [COMPILING.md](https://github.com/librespot-org/librespot/blob/dev/COMPILING.md). It's all documented.

[2021-11-27 15:28] Callenberg commented on #890
Wil do that!, thank you!

[2021-11-27 15:28] #890 closed

[2021-11-28 04:29] JasonLG1979 commented on #890
@Callenberg if you're planning on using `librespot` on a headless Pi you might checkout [Raspotify](https://github.com/dtcooper/raspotify) although I can't guarantee Buster compatibility. You'll probably need to upgrade to Bullseye.

My plan is to keep Raspotify up to date with `librespot`'s dev branch. So really unless you plan on being a `librespot` dev it's the way to go IMHO. I may be a little

[2021-11-28 15:55] frank474 opened #894 "Sound output stops after working fine for a couple of songs"
Hi,

at the beginning everything works fine for about 5-9 minutes. Then all of a sudden the sound gets interrupted. The Spotify app keeps connected and continues playing. On the rasperry there is no failure message in the verbose output. But instead continuously the following is being output:

`Nov 28 16:19:09 raspberrypi librespot[1174]: [2021-11-28T15:19:09Z TRACE librespot_connect::spirc] Sendi

[2021-11-28 15:58] roderickvd commented on #894
Please post the full verbose logs from start to finish.

When this "hang" occurs, what is happening with the CPU and RAM usage?
If you control playback (e.g. pause, select other/next track, etc.) what do you see in the logs?

[2021-11-28 16:55] frank474 commented on #894
here is the log.  At 17:46:40 the sound is off. Then I press next and stop and then the connection is lost. CPU usage is about 10% going up to 20% when fetching data. RAM is about 1%.

_Nov 28 17:37:09 raspberrypi librespot[851]: [2021-11-28T16:37:09Z DEBUG librespot_discovery::server] POST "/" {}
Nov 28 17:37:10 raspberrypi librespot[851]: [2021-11-28T16:37:10Z INFO  librespot_core::session] Conn

[2021-11-28 22:30] Callenberg commented on #890
Thank you for the tip!

The only reason I hesitate to upgrade to Bullseye is that I want to be able to use bluealsa (alsa for Bluetooth) and that package is not a part of the distro anymore. I thought it was time to update librespot on my Raspberry and I maybe building librespot myself might be an easier way (and avoid Bullseye for the time being). I understand what you are saying  - I will check

[2021-11-28 23:15] JasonLG1979 commented on #890
Yes [I'm familiar](https://github.com/JasonLG1979/PiZero-Bluetooth-Audio-Receiver)

It looks like it will back in the `bluez-alsa-utils` package in the next Debian release.

[2021-11-28 23:27] oebeledrijfhout opened #895 "ERROR ALSA function 'snd_pcm_hw_params_set_buffer_time_near' failed with error 'EINVAL: Invalid argument' on playback on Vero4K"
On my Vero4K (OSMC) I get the following error on playback:

[code]
The librespot command:
[code]

I have nothing in `/etc/asound.conf` or `~/.asoundrc`. Output of `aplay -l`:

[code]
and `aplay -L`:
[code]

I reported this originally in https://github.com/dtcooper/raspotify/issues/466 there are some more details there.

[2021-11-29 02:52] JasonLG1979 commented on #895
To recap The device fails with both `snd_pcm_hw_params_set_buffer_time_near` and `snd_pcm_hw_params_set_buffer_size_near` there doesn't seem to be a way to set the buffer size on it?

@roderickvd it always seems to be these little embedded devices or Kodi these days?

I'm think with as much trouble as we have with this it might just be better to move from a hard fail to a best effort and go with:

[2021-11-29 03:25] JasonLG1979 commented on #895
@oebeledrijfhout Try this build:

https://drive.google.com/file/d/1IJDvD_iQOYCf0CNZFdQHVAZmrKiUjupp/view?usp=sharing

It's based on this branch:

https://github.com/JasonLG1979/librespot/tree/best-effort-buffer

It doesn't actually fix anything it just makes errors setting the buffer and period size non-fatal.

[2021-11-29 08:42] roderickvd commented on #894
@JasonLG1979 only thing that comes to mind is hanging due to buffers not being filled or flushed, what do you think?

[2021-11-29 08:49] oebeledrijfhout commented on #895
Thank you! I can confirm this allows me to playback, with a `WARN` in the log:

[code]

[2021-11-29 08:49] roderickvd commented on #895
I agree that the we should make a change. These all seem to be regressions from the (less optimal) way it was.

[2021-11-29 16:49] frank474 commented on #894
Fetching and downloading/preloading works fine and the song starts. This sequence is ending with

_librespot_connect::spirc] Sending status to server: [kPlayStatusPlay]
librespot_connect::spirc] ==> kPlayStatusPlay_

The problem then occurs in the middle of playing the second, third track e.g. 1 min of 4:11. Then the above sequence is constantly repeated. Maybe somebody knows why the "_Sending sta

[2021-11-29 18:09] JasonLG1979 commented on #894
I'm not sure for the reason for the multiple `kPlayStatusPlay`'s? That's not my area of expertise But as far as the audio is concerned everything looks fine except:

[code]

After that is log entry that not from `librespot` but still interesting:

[code]

`error at snd_soc_dai_startup` is an upstream issue with Raspberry Pi audio over HDMI:

See this:

https://github.com/raspberrypi/linux/issues/4

[2021-11-29 18:12] JasonLG1979 commented on #894
In short I'd say you have possibly slightly less than ideal network/connection quality and you're suffering from an upstream driver bug.

[2021-11-29 18:16] JasonLG1979 commented on #895
OK, I'll combine the 2 solutions so that 'librespot` will make a best effort to size the buffers within the reported min / max reported by alsa but if it fails it will just use the device's default.

[2021-11-29 18:24] JasonLG1979 commented on #895
Yep, unfortunately just like the warning says not being able to set a reasonable buffer size is not optimal and may result in high CPU usage, high latency, underruns and other audio issues.

In your case in particular your buffer is almost 1.5 secs long with extremely small period sizes. I wouldn't worry about underruns with that many periods in a buffer but with a buffer that large `librespot` ma

[2021-11-29 19:09] roderickvd commented on #895
Even if `librespot` was sending illegal messages from `spirc` (the "Connect thing") to the player, the player should be immune to that. It would log when it received illegal messages in its current state.

[2021-11-29 19:27] JasonLG1979 commented on #895
Wrong issue I think you meant to comment on the other one which I will not mention because I don't want there to be a erroneous link between 2 unrelated issues but I think you know the one.

[2021-11-29 19:51] roderickvd commented on #894
Even if librespot was sending illegal messages from spirc (the "Connect thing") to the player, the player should be immune to that. It would log when it received illegal messages in its current state.

[2021-11-29 21:15] JasonLG1979 commented on #894
That is out of my wheel house. All I know is that this is really 2 issues:

1. The `spirc` issue.

2. The audio issue.

The audio issue is not a problem with `librespot` but is in fact an upstream.

[2021-11-29 21:18] JasonLG1979 commented on #894
The upstream audio issue may be triggering the multiple `kPlayStatusPlay` messages I don't know?

[2021-11-29 22:01] JasonLG1979 commented on #895
@oebeledrijfhout if all goes well with the PR that references this issue I will issue a new Raspotify release after it is merged.

[2021-11-29 22:30] JasonLG1979 commented on #895
Here's a Raspotify build based on that branch:

https://drive.google.com/file/d/1uXvCve_kzjdrB3upC8rOaDgTLAsBvmdh/view?usp=sharing

See @roderickvd my evil plan of using Raspotify users as `librespot` testers is starting to bare fruit :smiling_imp: :laughing:.

[2021-11-29 22:39] roderickvd commented on #895
Good stuff. Would be nice if more would test #896. I'm actively working on #891, but on a Mac, and don't have access to my Alsa rig the coming few days.

[2021-11-29 22:47] JasonLG1979 commented on #895
The intent (and so far the case in testing my devices) is that anyone who `librespot` works fine for now will notice nothing. But you know how quirky alsa can be. Worst case though you get the device's default buffer and period values which may not be ideal but IMHO it's better than a hard fail.

[2021-11-29 23:32] oebeledrijfhout commented on #895
I installed that build and playback is working, with the same warning as with the previous build:

[code]

BTW, CPU usage is not looking excessive during playback.

[2021-11-30 00:05] JasonLG1979 commented on #895
It's normal for it to spike while it's initially caching the track but after that:

On a Pi Zero less than 20%.
On a Pi 4 around 5%.

I have no idea how the CPU ranks compared to either of those? But I'd imagine it's a lot closer to a Pi 4 than a Zero.

[2021-11-30 00:16] JasonLG1979 commented on #895
If it would help to test for anyone else I can build a one off `amd64` Raspotify .deb. Just let me know.

[2021-11-30 18:54] sdetweil commented on #876
I have suddenly had to add user/pw info to my librespot instance to get it recognized as a valid receiver  in my  smart-mirror app

[2021-11-30 19:16] JasonLG1979 commented on #876
At least that part would be solved with: https://github.com/librespot-org/librespot/pull/886

It's ready and just waiting to be merged.

[2021-11-30 19:39] itwasonlyabug commented on #876
Alright, so I did some testing and I got it working! This is my Dockerfile that works:

[code]

As you can see, I've removed all the avahi stuff, so it looks like the initial container I had running, but with the newest version of Librespot. There is also no Avahi working anywhere atm (not on the PI, not on the laptop i'm using).

Now onto the steps:

1. Step 0 - did a-to-g but on `g` I don't see

[2021-11-30 22:23] dubo-dubon-duponey commented on #876
@itwasonlyabug glad you got it working!

Step 4, I'm afraid you have typos in there. You are supposed to test for `TEST_librespot` in step4 (and NOT `TEST_goello`).

I think it's a red herring. My hunch is "no".

Take-away:

* use a recent version of librespot ;-)
* using librespot in a container *with host networking* is (almost) always a mistake - just use macvlan (or ipvlan), but mind the step

[2021-11-30 22:41] dubo-dubon-duponey commented on #876
@sdetweil have you tried:

 * starting librespot *without* specifying any credentials
 * then using the official Spotify app to play something on your librespot instance
 * *then and only then* using your node app to list devices

I believe this is true for any Spotify compatible speaker (inc. Sonos for example)... until it does authenticate with your user account, it will *not* be listed by your

[2021-11-30 23:13] sdetweil commented on #876
yes, helps a lot.. there still is no spotify connect for raspi OS. SO, thats raspotify (which wraps librespot) .. SO local authentication is the only choice..

makes no sense to force someone to PLAY on THIS device (from some other device)  with some OTHER tool, so you can then play on this device..

[2021-11-30 23:23] JasonLG1979 commented on #876
I'm not sure how you would expect the node service your using, which only shows devices that are authenticated by your account to show up without credentials?

You're essentially asking "Why do I have to authenticate apps for them to show up in the list of authenticated apps?"

[2021-11-30 23:29] sdetweil commented on #876
I know everyone is protecting their assets, vigorously, now.. sure makes useful solutions harder and harder to implement

anyway, I've put the info in a file, and can read it into env variables for when the support comes in..

[2021-11-30 23:33] JasonLG1979 commented on #876
No, what I mean is what you're asking is nonsensical. It's not a matter of security.

In it's "natural" credential-less state `librespot` operates in zeroconf mode. In that mode it's visible to any and all other Spotify apps locally as a Spotify Connect endpoint. But since there are no creds it's not "owned" (authenticated) by any account. Only after you connect to it does it get authenticated.

I

[2021-11-30 23:34] JasonLG1979 commented on #876
It has to be authenticated one way or another for it to show up in your node app.

[2021-11-30 23:35] JasonLG1979 commented on #876
Yep I know. I'm the Raspotify maintainer.

[2021-11-30 23:37] sdetweil commented on #876
but it hasn't been required for years to do this. but anyway. times they are a changin

[2021-11-30 23:39] JasonLG1979 commented on #876
This has not changed in `librespot` nor Raspotify. If something has changed in the way that `'librespot` operates something has changed in your network or applications.

[2021-11-30 23:40] JasonLG1979 commented on #876
That aspect of `librespot` has not changed in a very long time.

[2021-11-30 23:43] sdetweil commented on #876
hm. I have been running librespot on this machine for 3 years, without authentication, and up til last year without Spotify connect ( Ubuntu ) for development and fixes, and never had this issue til this spring. the code I am maintaining is older than that

[2021-11-30 23:51] JasonLG1979 commented on #876
Well something has changed and it wasn't `librespot`.

[2021-12-01 00:13] dubo-dubon-duponey commented on #876
@sdetweil so, I assume you have been playing music on that librespot instance, right?

Then that means you *have been authenticating*: whenever you do play music on that librespot instance, you effectively *authenticate* with your user account. Then, this librespot instance *will show-up* in the list of devices attached to your user account, which will be returned by your node module...

Maybe the

[2021-12-01 00:15] JasonLG1979 commented on #876
If you enable caching `librespot` will use the cached auth token. You ofc have to connect at least once.

[2021-12-01 00:16] dubo-dubon-duponey commented on #876
Yeah, that's my guess about what has happened for @sdetweil and why they think things have changed / they did not have to authenticate before.

[2021-12-01 00:18] JasonLG1979 commented on #876
Ofc if you disable caching you can't expect to use the cached auth token. And I honestly have no idea the tokens are good for?

[2021-12-01 00:27] sdetweil commented on #876
this smart-mirror is voice centered
so the command (after getting the oauth done)  is

smart-mirror, ask/tell spotify to play ???? on [ this device | device name ]
and I can transfer play , etc..

and it would play.  the code had a retry problem i fixed last year, not playing for a day, didn't find it on the first try,
but did on retry,  thats when I found the spotify connect app  but only used it

[2021-12-01 00:30] JasonLG1979 commented on #876
`-c2 ./cache` is not valid.

[2021-12-01 00:30] sdetweil commented on #876
its running, no error messages..

found that on some google search years ago.. it worked..

[2021-12-01 00:32] JasonLG1979 commented on #876
Then by all means listen to Google and not the guy that wrote the code that parses the command line args in `librespot`...

[2021-12-01 00:38] sdetweil commented on #876
my point was, ok, so I am not a librespot commandline guy (and don't want to be).. I got enough on my plate..
the doc didn't help me.. terms I don't understand, so, I searched around til I found something that worked.
and stuck with it.

but , it didn't complain, or I would have found something else that didn't..

I don't play music often, I have a small hearing problem that  i find is minimized w

[2021-12-01 00:46] JasonLG1979 commented on #876
`-c2 ./cache` creates a cache folder called `2` (the `./cache` part is ignored) inside the home of the user that starts `librespot`. In the case of Raspotify it doesn't work because it uses a dynamic user that no home. And even if that folder existed somewhere you wouldn't have permission to write to it. You should use ` /var/cache/raspotify` as documented since that's the **ONLY** place the Raspo

[2021-12-01 00:49] sdetweil commented on #876
ok, note that I am running on ubuntu now, using librespot, not raspotify

[2021-12-01 00:50] JasonLG1979 commented on #876
How do you run the service?

[2021-12-01 00:50] sdetweil commented on #876
I use pm2 to launch  the binary under my user

[2021-12-01 00:51] JasonLG1979 commented on #876
Is that user privileged?

[2021-12-01 00:55] JasonLG1979 commented on #876
I have no experience with pm2 I personally would just use systemd since it's more native and allows you to sandbox services.

[2021-12-01 00:56] sdetweil commented on #876
i do not think so..  i am in sudoers
I had to make /var/cache/librespot 777 for my command to not get access denied on start  (666 didn't work as I would have expected)

[2021-12-01 00:58] JasonLG1979 commented on #876
Oh, wow. running a network facing service as a sudoer with 777 cache... fully loaded foot guns.

[2021-12-01 01:00] sdetweil commented on #876
what the heck do you want me to do?

I just want the damn thing to RUN,..  u wanted cache, so I tried to set that up.. I TOLD you what i did, not hiding anything

[2021-12-01 01:03] JasonLG1979 commented on #876
No, what I mean is that above you were complaining about having your password and username in plain text and you're basically running naked though a corn field with that thing. Your Spotify creds are the least of your worries if that's your approach to security. It's actually kinda funny.

[2021-12-01 01:04] sdetweil commented on #876
ok, thanks.. I'm gonna go get some dinner..   running with /c2

[2021-12-01 01:10] JasonLG1979 commented on #876
I'm sorry. All kidding aside:

1. Never run system services as a privileged user if you can help it. And you can help it for sure in this case. Nothing about `librespot` requires privileges.

2. 600 should be fine for the cache. That means no one can exe and only the user who owns the folder can read or write to it.

3. Don't use 777 if you have to use 777 more than likely you're doing something w

[2021-12-01 01:55] sdetweil commented on #876
the folder /var/cache/librespot did not exist
I had to use sudo to create it, so that set the user to root

so 600 won't work as I am not root
666 did not work  but should have

[2021-12-01 02:23] JasonLG1979 commented on #876
I'm sorry the folder has to be 700 you want the files 600.

It would if you configured `librespot` to start with systemd and configured the cache folder to be `/var/cache/librespot` in the unit file with:
[code]

Systemd will create the folder for you if it does not exist. You still need to point librespot at `/var/cache/librespot`. The above just takes care of creating the folder and setting the

[2021-12-01 02:29] JasonLG1979 commented on #876
You can also clear the cache by stopping the service with `sudo systemctl stop librespot` then `sudo systemctl clear librespot` and finally `sudo systemctl restart librespot` if you want to restart it. That's assuming you name the service `librespot` ofc.

It would probably be easier for you to just use the Raspotify package if you have a recent enough version of systemd.

[2021-12-01 02:36] JasonLG1979 commented on #876
I feel like this has gone way off topic. I will stop now and say that yours is a problem of configuration and a lack of understanding @sdetweil if you'd like to continue we can move to a discussion. I'm done here as it's just noise for anyone who is actually having this legitimate issue.

[2021-12-01 08:09] #876 closed

[2021-12-01 20:12] roderickvd commented on #876
The `new-api` branch has a new caching token provider that automatically refreshes tokens 10 seconds before they expire. It also reveals when the expiry time is. This is something that Spotify sets and isn't guaranteed to be any set value in the future.

[2021-12-01 20:27] roderickvd commented on #894
@JasonLG1979 hinted a couple times at it, but you haven't gone into it: what _is_ the speed and quality of your network connection?

With reference to `spirc` it *may* be that messages are sent to early by the preloader but I've never seen this happen before. Also please don't jump to conclusions because this is a very early suspicion that would need more debugging to find out whether it's actuall

[2021-12-01 20:28] JasonLG1979 commented on #895
@oebeledrijfhout hate to bug you again but I'm still trying to figure out the best way to handle dynamic buffer sizing and would very much appreciate you testing this out:

https://drive.google.com/file/d/1uxqJnj9PhiHgoupKbEspoNpLxOQ_-MTv/view?usp=sharing

[2021-12-01 20:40] JasonLG1979 commented on #895
I've set the PR as a draft because with how quirky ALSA is you could test it on 20 different devices and get 20 different results, and I only have a few devices (all of which work with `librespot` before and after the PR). It needs a lot more testing.

[2021-12-01 20:43] roderickvd commented on #895
I can test somewhere around the weekend. Maybe @jessicah can test too?

[2021-12-01 20:44] oebeledrijfhout commented on #895
No worries, glad to contribute. This build doesn't work on my device:

[code]

[2021-12-01 20:44] roderickvd commented on #895
You can get it out of draft when you think the code is ready for review. No problem that it needs more testing after that. "Draft" to me means: I'm still at it, but know that this is on the way, and I welcome any input on-the-go.

[2021-12-01 21:15] JasonLG1979 commented on #895
What @oebeledrijfhout has shown me is that you can't brute force loop though a range of buffer values and call `set_buffer_size_near` or `set_period_size_near`.

I was hoping to be able to start high and just loop though and stop at an `Ok`. So much for that idea. It couldn't be that easy though ofc, it is ALSA after all,lol...

[2021-12-02 03:31] JasonLG1979 commented on #895
Ok @oebeledrijfhout round, I'm not even sure,lol!!!:

https://drive.google.com/file/d/1NQgwdd7brwe99uMGFfEaYRsUU09yyF9m/view?usp=sharing

This iteration is much like the previous working version except that I've moved the warning about not being able to set the buffer size to a trace message because I figure it's just log noise if someone's not actually having audible issues and if they were hopef

[2021-12-02 04:01] JasonLG1979 commented on #895
You should see something like this:

[code]

[2021-12-02 12:36] oebeledrijfhout commented on #895
looks (and sounds) good!

[code]

[2021-12-02 16:35] JasonLG1979 commented on #895
Weird that it reports an available buffer size range of `16 - 65536` Frames and then totally fails when `librespot` tries to set the buffer to `22050` Frames which is obviously in that range. That's clearly a driver bug. The expected result of calling [`snd_pcm_hw_params_set_buffer_size_near`](https://www.alsa-project.org/alsa-doc/alsa-lib/group___p_c_m___h_w___params.html#ga2c00cb635d374030595dbc

[2021-12-02 16:38] JasonLG1979 commented on #895
I'm glad however that we've figured out a workaround.

[2021-12-02 20:28] JasonLG1979 commented on #895
I think they have ghosted us. It must not have been that important to them? But just in case here is an amd64 binary I compiled on my Ubuntu 21.10 box built with `--release --no-default-features --features alsa-backend`

https://drive.google.com/file/d/17PavN0y1ILhQdfTNlt6wkNRnDoQb0RJd/view?usp=sharing

[2021-12-02 21:03] frank474 commented on #894
I have done a new installation. But this time the  headless minimum image. Now I'm missing the second sound output (hdmi) completely. raspi-config shows only interface 0 (headphones).

_Dec  2 16:52:47 raspberrypi librespot[626]: ALSA lib confmisc.c:1281:(snd_func_refer) Unable to find definition 'cards.vc4-hdmi.pcm.hdmi.1:CARD=1,AES0=4,AES1=130,AES2=0,AES3=2'_

_pi@raspberrypi:~ $ aplay -l
**** L

[2021-12-02 21:35] JasonLG1979 commented on #894
That's way out of scope of `librespot` you should file a bug with Raspberry Pi OS on that. I don't use the the HDMI nor headphone out so I usually just completely disable all built-in audio anyway.

Even if you manage to get them working neither is going to sound very good. The analog out is ofc garbage and audio over HDMI in general isn't the greatest so I'm told.

I would advise picking up a DAC

[2021-12-02 21:45] sarlej commented on #895
On my Vero4k (OSMC) version: `raspotify_0.31.3-4-g8d41bd0-dirty~librespot.v0.2.0-150-gc737337_armhf.deb` fixed my issue (same as @oebeledrijfhout posted originally).
I don't have any complains about set buffer size, but i'm using external USB sound card.

[code]

[2021-12-02 21:54] JasonLG1979 commented on #895
@sarlej that's weird that you had an issue? Judging by your output `librespot` has no trouble setting the buffer or period size?

It shows that `librespot` got both it's desired buffer and period size (`22050` and `5512`) which is as you'd hope it would be?

Maybe it's a distro specific issue?

In any event I'm glad if it solves whatever issue you may have been having? And thank you for testing.

[2021-12-02 21:59] JasonLG1979 commented on #895
I'd really have to look at their default audio configs to see if they're doing something screwy. They are basically an appliance distro running on what is intended to be an appliance type device, maybe they've changed things to suit there own particular needs at the expense of others?

[2021-12-03 07:31] sarlej commented on #895
@JasonLG1979 it looks like it was exactly same issue as @oebeledrijfhout had. I try to reproduce the error and it looks like i didn't configure external USB sound card, so it used internal one. Sorry for mystification.
Nevertheless the update fix the problem when using internal card and log is same as @oebeledrijfhout  posted.
[code]

[2021-12-03 15:04] JasonLG1979 commented on #895
Ok, that makes more sense. Then I guess it's a double confirmation. The fix also worked for you on the affected device and it was not detrimental on a well behaved device (which is also very important) thank you for the clarification.

[2021-12-03 19:07] JasonLG1979 commented on #895
@roderickvd I'm going to take the PR out of draft mode since I think the proof of concept is proven. It's really just a matter of further testing and review. I've pushed another commit since I posted those binaries but it didn't change the functionality of the PR. It was mostly just about sprinkling in trace messages to help with future debugging so results from the posted binaries are still appli

[2021-12-03 19:16] roderickvd commented on #895
Thanks for that work. I'll take some time to test it on my rig this weekend and get it merged. Then when it lives in `dev` it can get some proper exposure before we release a new version.

[2021-12-03 19:19] roderickvd commented on #894
Closing this for now. Feel free to reopen if you are sure this is a `librespot` issue and not with your host.

[2021-12-03 19:19] #894 closed

[2021-12-03 19:24] JasonLG1979 commented on #895
In a perfect world of sensible APIs, well behaved devices and logical configurations none of it would be necessary. But as we both know from experience ALSA is not sensible, devices are rarely well behaved and configurations tend to be illogical,lol!!!

[2021-12-03 19:26] JasonLG1979 commented on #895
As soon as it hits dev I will ship it in Raspotify. It should be plenty of exposure there.

[2021-12-04 21:53] JasonLG1979 commented on #864
Just going to bump this issue one last to make sure it didn't fall though the cracks @jessicah?

@roderickvd I'd say this is very similar to https://github.com/librespot-org/librespot/issues/895 in that they both seem to be misbehaving devices, misbehaving in different ways but still misbehaving.

https://github.com/librespot-org/librespot/pull/896 would probably be about as close as we can get to

[2021-12-05 12:16] coderootme opened #898 "Command line arguments are incorrectly echoed in TRACE."
See this output:

[code]

The part that says `-3` belongs to the argument before that.

The argument is parsed correctly, because the other part of the log is correct:

[code]

So it seems only the echo is incorrect. Minor error, but could be fixed whatsoever I believe.

[2021-12-05 13:57] coderootme commented on #898
Seems the problem is around this line: https://github.com/librespot-org/librespot/blob/e66cc5508cee0413829aa347c7a31bd0293eb856/src/main.rs#L669

The code expects a minus sign always denotes a new item, while a minus sign in this case denotes a negative value instead.

[2021-12-05 17:13] JasonLG1979 commented on #898
I got it that's my bad. I'll just make sure anything followed by a - is only 1 char and a leter that should do it.

[2021-12-05 18:03] coderootme commented on #898
That check would probably be enough, unless `(-)[a-z]` would be a valid username and/or password, i.e. `--username -a` or `--password -a` which I am fairly certain are not valid.

[2021-12-05 18:04] coderootme commented on #898
Now that I think of it, device name should probably be valid as ``--name -a``, which would break the rule, but should work.

Anyone correct me please?

[2021-12-05 19:04] JasonLG1979 commented on #898
@coderootme try that.

[2021-12-05 19:17] JasonLG1979 commented on #898
I take care of that with:

[code]

[2021-12-05 19:30] JasonLG1979 commented on #898
The basic idea is to loop though the args and see if the string "is_defined_and_present" to see if it's a "key" if it's a "key" we check to see if the next arg is a "value" with "is_defined_and_present" again but this time it must return false to be considered a "value".

[2021-12-05 19:50] JasonLG1979 commented on #898
And to clarify, that part of the code does not check the validity of the args.

Command line args are checked with a combination of [opts.parse](https://docs.rs/getopts/latest/getopts/struct.Options.html#method.parse) and evaluating their values.

If they fail opts.parse you won't get a list of args, you'll get a parsing error. If they fail at the evaluation stage you'll get a list and hopefully a

[2021-12-06 01:14] JasonLG1979 commented on #898
With the PR:

[code]

Outputs:

[code]
"--name" is kinda weird but still a valid device name.

"totally invalid because --verbose is a flag" and "totally invalid because -N is a flag" are never actually evaluated by `librespot` because `--verbose` and `-N` are flags so we only check if they exist.

"-a" is technically valid I guess maybe? Although I'd bet it would fail as soon as you tried to use

[2021-12-06 02:31] JasonLG1979 commented on #898
Also @coderootme a couple notes about your args:

`--backend alsa` is not necessary unless you have also have other backends compiled into `librespot`.

Unless you have some special reason to use `--mixer alsa` (like you're using some alsa feature that requires that you use alsa volume control) software volume control in `librespot` is objectively superior to alsa hardware volume control, and much

[2021-12-06 08:06] coderootme commented on #898
The advantage of using `alsa`'s mixer, for me at least, with DACs that support it, is that the volume change is instant, while the software volume control delays the volume change (because of buffer, I think). For audiophile setup, I do not use any mixer at all and change the volume with the volume knob on my amplifier only, which is not really that often when the whole gear is of high quality and

[2021-12-06 08:45] JasonLG1979 commented on #898
I wouldn't think there should be any noticeable delay normally, the buffer should only be 0.5 secs?

That would be a bug for @roderickvd the `,0` part of `hw:1,0` should probably be stripped off in that case and in the case that `--device` takes the form of something like `hw:CARD=Generic,DEV=0` it should probably be just `hw:CARD=Generic`? Idk about that one? That would require some more testing?

[2021-12-06 08:54] roderickvd commented on #898
I don’t know for sure either, but it does look redundant (and so not functioning). You can file an issue or PR for it. Right now still hard at work at other librespot stuff so it’d on the backlog.

[2021-12-06 08:56] JasonLG1979 commented on #898
You should already be getting warning messages about `--normalisation-method dynamic` in dev. But really `librespot` is not stable and makes not promises about stability whatsoever. Args can and have changed and may in the future with little to no notice.

[2021-12-06 08:58] JasonLG1979 commented on #898
I'll add it to my list which adds it to your list,lol!!!

[2021-12-06 09:01] JasonLG1979 commented on #898
@roderickvd along the way I'll see about making the mixer not explode on errors,lol!!

[2021-12-06 09:04] roderickvd commented on #898
While I feel that API and command line option stability is important, consider everything as tentative baselined until 1.0.0 and it’s up to FOSS to keep up. I’m a moOde user myself and make efforts to keep that up to date.

[2021-12-06 09:21] coderootme commented on #898
Yes, I was wondering about that. Why is the librespot development team thinking of removing the basic normalisation method?

I know many audophiles do not like any dynamics compression whatsoever; myself included, except for some special cases, for example when listening on speakers at night as a background noise when doing something else, but definitely *not* when fully focused on music using goo

[2021-12-06 14:43] JasonLG1979 commented on #898
The idea being that dynamic is objectively better than basic. Basic is literally just the volume being turned up and down as you've figured out. And 99.99% of people would rather use dynamic.

Currently you really can't put "audiophile" in the same sentence as Spotify since it's lossy audio. When they roll out the HiFi tier and start streaming FLAC maybe.

It's mostly about trying to pair the code

[2021-12-06 21:28] roderickvd commented on #898
@coderootme point did make me think it over. It's fair enough not to remove existing functionality that's working well and used in the wild, even when I don't think by a lot of people. Honestly in this particular case it is so little lines of code that the burden of maintainability isn't really an issue.

On the other hand there's the argument of toning down on configuration options which *is* an

[2021-12-06 21:46] JasonLG1979 commented on #898
Even with pop, rock, hip-hop and metal (generally what I listen to) if you set the `--normalisation-pregain` to `-3.0` and `--normalisation-threshold` to `-3.0` you're basically adhering to the ReplayGain standard with 3dB of additional headroom for tracks that might not be mastered the greatest. With those settings I have never noticed the limiter kick in either audibly or by skimming the logs.

[2021-12-06 21:52] JasonLG1979 commented on #898
You can get pretty deep in the weeds when you start talking audiophile jargon with some of if grounded in reality more other things but generally speaking I tend to be an objectivist when it comes to hardware and software design. We can't know what every system sounds like so we have to go with the math and science as the great equalizer.

[2021-12-07 01:30] coderootme commented on #898
I agree. This is a good point.

[2021-12-07 18:54] coderootme commented on #522
I just want to note that this happens to me too. I don't know how to reproduce it, however. The one thing I noticed is that exiting the other client and starting it up again, it detects librespot and offers to continue playing.

[2021-12-07 22:55] roderickvd commented on #522
I really need a reproducible scenario to start doing something about this.

[2021-12-08 14:13] gdesmott opened #900 "API to retrieve song lyrics"
Would be great to have an API to retrieve song lyrics, with proper time codes.
Looks like it's possible as [this js package does it](https://www.npmjs.com/package/spotify-lyrics-api).

[2021-12-08 17:29] roderickvd commented on #900
This is in the `new-api` branch that is currently being developed: #891

Thanks for the link though, it's got a more basic HTTP lyrics endpoint as well as a search endpoint that I will implement.

[2021-12-08 19:04] Mitschmaster commented on #481
I have the same problem on the playlist "2000er-Mix".

[2021-12-09 08:13] shlyakpavel opened #901 "A good article on how spotify-codes function"
Hello!  I just came around and noticed a detailed explanation how to encode/decode Spotify codes https://boonepeter.github.io/posts/2020-11-10-spotify-codes/
I'm not sure, but maybe this link will be helpful if someone looks for it in this repo

[2021-12-09 18:41] coderootme opened #902 "Librespot crashes when seeking to a position that is not yet downloaded."
When librespot starts downloading and playing a track, when one seeks manually forward to a part that is not yet downloaded, librespot crashes. Here is the last lines of the ``--verbose`` log:

[code]

Then the application crashed.

EDIT: This is running ``librespot 0.3.1 e66cc55 (Built on 2021-12-02, Build ID: b5V8XqQE, Profile: release)``.

[2021-12-11 02:35] JasonLG1979 commented on #902
I tried to reproduce this error by:

1. Making sure not to enable caching.
2. Skip though ***A BUNCH*** of random tracks and seeking to the middle of the track as soon as I could.

I can not reproduce.

The worst I can get is a `Player::seek called from invalid state` warning. And `librespot` recovers just fine from those.

Can the tracks in question be played otherwise? If not it could be that th

[2021-12-11 02:56] JasonLG1979 commented on #902
After:
[code]
You should have gotten something that looked like this if you haven't downloaded the file up to that point:
[code]

[2021-12-11 12:13] coderootme commented on #902
You are right, it is not easy to reproduce. It happens rarely it seems. If I figure out how to reproduce it every time, I will update this thread.

This is what happens when librespot does not crash and continues playing:

[code]

After this error, librespot does not crash and continues playing the track after it is downloaded properly.

[2021-12-11 17:31] JasonLG1979 commented on #902
Can the tracks that crash `librespot` otherwise be played normally?

The underrun are just the byproduct of trying to induce the error. Continually and rapidly changing tracks is opening and closing the ALSA device over and over again. That's just the device's way of saying "hold on a sec and let me catch my breath." They are otherwise unrelated to the decoder bug.

I'm inclined to say that this i

[2021-12-11 17:37] JasonLG1979 commented on #902
@roderickvd is in the process of figuring out the new API and the plan is to move to a decoder framework that can do mp3 aac and vorbis so I don't really want to do a deep dive into handling decoder errors only to have it all just rewritten in a few weeks anyway. But in the future I would think that in the event of a fatal decoding error we should just skip to the next song instead of crash or exi

[2021-12-11 18:29] coderootme commented on #902
Yes, it can! I tried to make sure.

[2021-12-11 18:30] coderootme commented on #902
I don't know why this isn't the case already. Even spotify client does that (some tracks are unplayable in certain countries, etc.)

[2021-12-11 19:00] jbrepogmailcom opened #903 "Question about input stream bitrate"
Hello! I understand that setting 320kbps is setting for output quality, which is then streamed as PCM to audio device - that is why all songs from spotify show as PCM 1440kbps (in KODI).

I am wondering if it is also possible to set quality of input stream that is requested from spotify servers and how to see that quality.

Thank you

[2021-12-11 20:35] roderickvd commented on #902
Yeah, we'll be pushing reporting decoding errors down to Symphonia.

Please try #905.

[2021-12-11 20:44] kingosticks commented on #902
Pretty sure librespot handles regular track availability just fine. That's got nothing to do with decoding errors.

[2021-12-11 21:25] JasonLG1979 commented on #902
What they said.

Calm down. I was just cover the bases.

Like I said the error messages come from a upstream crate and aren't particularity descriptive or useful. It could be any number of a million and 1 different I/O errors.

[2021-12-15 13:07] microfx opened #908 "onevent script abort condition when status changes (to prevent execution) to trigger smart wall socket"
Hey!

Using the onevent feature for quite a time now but never managed to make it work properly to shut down my smart wall socket after pressing pause (and then leaving home) – which results in my speaker to stay powered on (which is obviously not very smart). So I reworked it a bit and now seems to work ... but now when I press pause and then press play again the script will trigger anyways. Whic

[2021-12-15 15:07] 89z commented on #853
Regarding ProtoBuf, I have a package here:

https://github.com/89z/parse/tree/master/protobuf

it works with quite complex responses, even with deprecated StartGroup tags. However its not Python, so I dont know if you will be able to use it.

[2021-12-15 17:52] #895 closed

[2021-12-15 18:01] #902 closed

[2021-12-16 21:49] #898 closed

[2021-12-17 17:04] asegarra opened #911 "couldn't parse packet from 192.168.4.113:59464: packet has non-zero reserved bits"
Using spotifyd  but I believe these messages originate in librespot, I'm getting quite a few of the above message, I suppose these are other clients in the network, anyway to quiet these down or some way I can fix whatever is wrong? Thanks.

[2021-12-18 21:58] nadigo opened #912 "Option 'onevent' given more than once despite been given once"
Hi,

Running:
`librespot --name name -u xxxx -p xxxx --backend pipe --onevent /music/onevent.sh `
Getting error:
`Error parsing command line options: Option 'onevent' given more than once`

Why?

Nadav

[2021-12-19 21:04] JasonLG1979 commented on #912
What version? Because with the latest git `--onevent /music/onevent.sh` works just fine. I would check your args more careful the error message is pretty self explanatory it means that you have specified `--onevent` more than once.

You can not for example do:

[code]

[2021-12-19 21:15] JasonLG1979 commented on #911
Spotifyd uses an old version of librespot they would need to update from 0.2 to 3.1 to even be able to tell if this is still a valid issue.

[2021-12-20 09:26] roderickvd commented on #911
Can you post the full log? I think this is from `libmdns`?

Also is this just a nuisance or is some behavior actually broken?

[2021-12-20 09:39] JasonLG1979 commented on #911
It's absolutely from `libmdns`:

https://github.com/librespot-org/libmdns/blob/acd405604d2fb589e9848d1292ce9404bd206d91/src/dns_parser/error.rs#L17

[2021-12-20 14:21] asegarra commented on #911
Sorry I didn't check the versions before hand, I saw a similar issue and it was redirected to librespot so I just came straight here.

That's pretty much all I see, just repeated many times. Not sure if it's an actual problem and if this may be related but I was often loosing connection through spotifyd necessitating a restart of the daemon, that's what led me to check the logs and this was pretty

[2021-12-20 15:18] roderickvd commented on #911
Again please post the full log. Just copy paste everything.

Please try stock `librespot` instead of `spotifyd` and see if you have the same issue. I think you will, but just to rule that out.

Then when we certify that this issue is with `libmdns` you should report it here: https://github.com/librespot-org/libmdns

[2021-12-20 16:06] asegarra commented on #911
it’s a beacon in my home mesh network.

On Mon, Dec 20, 2021 at 9:34 AM Jason Gray ***@***.***> wrote:

[2021-12-20 16:16] asegarra commented on #911
It's a beacon in my home mesh network.

[2021-12-20 16:20] asegarra commented on #911
I no longer have it but I'll reproduce it later today.

Ok, I'll need some more time to figure out how to do this, will reply when I've done it.
Thanks.

[2021-12-20 21:15] JasonLG1979 commented on #911
Well either the beacon is misbehaving or very possibly `libmdns` is misbehaving or just being overly chatty in it's logs?

If it's not actually causing any trouble other that spamming the logs I would just drop the log level to warn or error.

Otherwise I would ask the `Spotifyd` team to help fix `libmdns`, it could use some love for sure, or alternatively maybe since `Spotifyd`'s stated goal is t

[2021-12-20 21:58] asegarra commented on #911
If it is then avahi and systemd-resolved don't seem to be bothered by it, I use both in different pc's.

I actually stopped using spotify-tui/spotifyd due to the connection drops which may not be related to this but this was the only thing I could see in the logs, I also tried Spot that also uses librespot and had a similar problem and they are on 0.3.1 and don't think they have the same network s

[2021-12-20 22:31] JasonLG1979 commented on #911
`libmdns` is mostly functional but is a little rough around the edges. There have been other issues and talk of improving it, but in my mind the best option is to just hook into the underlying systems implementation (avahi in the case of Linux) and not have our own full mdns implementation. That was also in the works but stalled.

[2021-12-21 13:59] roderickvd commented on #911
Please report this to the separate `libmdns` repo. In think it was @willstott101 who did excellent work on that but is not active anymore. I consider improving it as a nice challenge, but like @JasonLG1979 says, it’s mostly functioning now and I’ll be spending my time on many other `librespot` features first.

[2021-12-21 13:59] #911 closed

[2021-12-22 08:09] agneevX opened #913 "Songs not showing up in Recently Played"
When playing songs via Librespot, songs don't show up in Spotify's Recently Played.

This is with the following options:

[code]

Is this a known issue by any chance?

[2021-12-22 08:12] roderickvd commented on #913
Yes, this is a known issue that I intend to fix as part of the `new-api` efforts. At this point `librespot` does not report played tracks back to Spotify.

[2021-12-22 08:19] agneevX commented on #913
I created this issue as a last resort, I've been engaging with the supports teams over Twitter DM and emailing Spotify Privacy because of missing data, trying to convince them its their issue to solve 😅.

Is there related issues like this?

[2021-12-22 08:25] michaelherger commented on #913
See https://github.com/librespot-org/librespot/discussions/626

[2021-12-22 08:26] roderickvd commented on #913
😆 well you can tell them to move on to other things.

`librespot-java` found it out here: https://github.com/librespot-org/librespot/discussions/626

[2021-12-27 15:32] agneevX commented on #913
So I compiled a recent release of spotifyd and it seems to push tracks to Spotify's Recently Played. Isn't spotifyd a fork of librespot?

[2021-12-27 16:37] roderickvd commented on #913
Are you sure? There is no mention of "event-service" in Spotifyd's repository, which is the endpoint that's known to report played tracks back to Spotify.

Spotifyd isn't a fork, but a downstream application that pulls in `librespot` as a library and builds a *nix daemon and MPRIS interface on top.